<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" >
   <div class="row"style="margin-top:5%">
  <div  class="col-lg-12 info-sub-w4">
    <div>     <strong><h2> Want to know more about our services</h2></strong>
      <p>Fell free browse through our contenet
      </p>
        </div>
      </div>   
      </div>
	<div class="row">
	  <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
		   <div class="row h-50">
				  <div class="col-md-12 col-sm-12 co-xs-12 gal-item animated  bounceInLeft delay-1.5s" >
							<div class="box">
						 <img  src="../../assets/images/SERVE/E-commerce.jpg"  class="img-ht img-fluid rounded">
							</div>
					</div>
			</div>
	  
	    <div class="row h-50">
				 <div class="col-md-6 col-sm-6 co-xs-12 gal-item animated bounceInLeft delay-1.5s" >
				  <div class="box">
					<img src="../../assets/images/SERVE/unnamed (1).jpg" class="img-ht img-fluid rounded">
				</div>
				</div>

				<div class="col-md-6 col-sm-6 co-xs-12 gal-item animated bounceInLeft delay-1.5s">
				 <div class="box">
					<img src="../../assets/images/SERVE/insurance.jpg" class="img-ht img-fluid rounded">
				</div>
				</div>
            </div>
      </div>

           <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
			   <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-25 animated bounceInRight delay-1.5s">
				<div class="box">
					<img src="../../assets/images/SERVE/bill-payments.jpg" class="img-ht img-fluid rounded">
				</div>
				</div>

				  <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-75 animated bounceInRight delay-1.5s">
				   <div class="box">
					<img src="./../assets/images/SERVE/bill-payments.jpg" class="img-ht img-fluid rounded">
				</div>
				</div>
            </div>

	</div>
	<br/>
</div>