<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right:0px!important;padding-left:0px"class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
            <div style="text-align:center" class="hedder-up">
               <h1 style="text-align:center;margin-left:40%">
              </h1>
            </div>
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img serveban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
<div style="padding-right:15px;padding-left:15px" class="about" id="about">

 <div class="row">        
    <div class="col-lg-12" style="text-align:center">
     <h2 style="text-align:center;font-size:330%;">
        <strong>   <br>Services offered:<br></strong>
      </h2>
        <div class="col-lg-4">

         <img id="card" src="../../assets/images/SERVE/unnamed (2).jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
         </div>
         <div class="col-lg-4">
          <br><br>  
          <img id="card" src="../../assets/images/SERVE/dth.jpeg" width="100%" height="200px" alt=" " class="img-responsive" />
          </div>
          <br><br>
          <div class="col-lg-4">
              <img id="card" src="./../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
        
      </div>
                              
      </div>



</div>
              
         
   
       
         </div>
      </div>
      <!--//about" -->
    
            
                
                
                        
                                 <!-- <div class="col-lg-4">
                                    <a id="centered"><strong><h2>Dth services </h2></strong><br>Pay for your digital satellite services i.e. for your set up box and continue being uninterruptedly entertained.  No need to leave your house to get your dish recharge done.  Ex: Airtel, Videocon, Reliance, Dish TV, Sun direct, Tata Sky etc.
                                    </a>
                                    <img id="card" src="../../assets/images/SERVE/dth.jpeg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                
                                    
                                        </div>     <div class="col-lg-4"> -->
                                                <!-- <a id="centered"><strong><h2>Mobile bills payments and recharges </h2></strong><br>Enjoy calling, messaging and 4G speed without any blockage. Pay your bills and recharge on time. We make online mobile recharge and bill payments simple and safe for you</a>
                                                <img id="card" src="../../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="col-lg-4">
                                                    <a id="centered"><strong><h2>Utility bills</h2></strong><br>Electricity, water and gas are necessities in today’s life. Forget standing in lines to pay for these bills! PAY for electricity, gas, water, Subscription, Broadband and Landline on ISH’s portal. Discover a unique and single solution to all your bill payments.</a>
                                                    <img id="card" src="./../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                              
                                            </div>
                                                     -->
        
      <!-- //Footer --><br>
     <app-fotter></app-fotter>

      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  