<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-left:0px !important;padding-right:0px !important" class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
           
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div *ngIf="!this.Mobile"  class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img edbanner-img">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div *ngIf="this.Mobile" class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                    <div class="slider-img mobileban">
                      <div class="container">
                   </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
         <div class="clearfix"></div>
      </div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <div style="text-align:center">
                  <h2>
                  <strong>   <br>Tax Compliance<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;padding-left: 3%;padding-right:3%">With the helpm of Indain Smart Hub, tax payments and producing and submitting information to the tax authorities on time and in the required formats will become very easy.

                        With just one click you can easily resolve tax related issues.
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
    
       
         </div>
      </div>
      <!--//about" -->
    <div class="container-fluid">
      <div class="row" style="margin-top:0%">
        
      <div  class="col-lg-12 info-sub-w4">
         <div  id="centered">     <strong><h2>Annual Filings </h2></strong><p> At the end of every fiscal year, we are required to file our annual earnings so that we stay eligible for returns. Annual Filings are complex but it can become an easy and time saving job with us! File your ITR today, register with us!</p></div>
             
             <!-- <img   id="card" src="../../assets/images/logoandotherpics/tax (1).jpg" width="400px" height="500px" alt=" " class="img-responsive" />
             <br><br><br> -->
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>ITR filing</h2></strong><br><p>ITR filing is important even if your income does not qualify for tax deductions. It helps you in loan sanctions, claim adjustment against past losses, useful in case of revised returns. With a team of financial experts we make sure that your ITR is filed on time with proper tax calculations.
             </p>
            </div>
           <!-- <img id="card" src="../../assets/images/logoandotherpics/ITR-Filing.jpg" width="400px" height="500px" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div id="centered">
               <strong><h2> GST Return filing</h2></strong><p>
               Confused regarding how to pass entries under GST? We are here to impart you our financial expertise in this domain so the passing of entries in GST becomes a comprehensible process.

Take our help in GST data entry!</p></div>
           <!-- <img id="card" src="../../assets/images/logoandotherpics/gst return filling.jpg" width="400px" height="500px" alt=" " class="img-responsive" /> -->
       </div>
       
      </div>
          </div>
          
          <br><br>
       <app-fotter></app-fotter>
        </div>  
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  