   <!DOCTYPE html>
   <html lang="en">
      <head>
         <title>IndianSmartHub</title>
         <!--meta tags -->
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
         <script>
            addEventListener("load", function () {
              setTimeout(hideURLbar, 0);
            }, false);
            
            function hideURLbar() {
              window.scrollTo(0, 1);
            }
         </script>
         <!--booststrap css-->
         <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
         <!-- font-awesome icons -->
         <link href="../../assets/css/font-awesome.css" rel="stylesheet">
         <!-- For Clients slider -->
         <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
         <!-- //For clients slider -->
         <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
         <!--gallery lsb lightbox-->
         <!--stylesheets-->
         <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
         <!--//stylesheets-->
         <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
      </head>
      <body>
        <div class="container-fluid">
        <div class="header-outs" id="home">
            <div class="header-bar">
               <app-navbar></app-navbar>
               <div class="hedder-up">
                  <!-- <h1><a class="navbar-brand" href="#">Indian smart hub<span class="fa fa-lightbulb-o" aria-hidden="true"></span></a></h1> -->
               </div>
            </div>
            <!-- //Navigation -->
            <!-- Slideshow 4 -->
            <div class="slider">
               <div class="callbacks_container">
                  <ul class="rslides" id="slider4">
                     <li>
                        <div class="slider-img one-img">
                           <div class="container">
                              <!-- <div class="slider-info">
                                 <h4>Commited at your service</h4>
                                
                              </div> -->
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="slider-img two-img">
                           <div class="container">
                              <div class="slider-info">
                                 <h4>Power At Your Home</h4>
                                 <p>Quis autem vel eum iure reprehderit Quis autem <br>vel eum iure reprehderit.</p>
                                 <div class="outs_more-buttn">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="slider-img three-img">
                           <div class="container">
                              <div class="slider-info">
                                 <h4>Solar Panel Technology</h4>
                                 <p>Quis autem vel eum iure reprehderit Quis autem <br>vel eum iure reprehderit.</p>
                                 <div class="outs_more-buttn">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalLive">Book Now</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
              
            </div>
            <div class="clearfix"></div>
         </div>
         <!-- //banner -->
         <!--about -->
         <div class="about" id="about">
            <div class="container-fluid">
               <div class="row abt-colm offset">
                  <div class="col-lg-5 agile-info-img">
                     <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
                  </div>
                  <div class="col-lg-7 agile-abt-info">
                     <h2>
                        <br>What We Do To You
                     </h2>
                     <div class="info-sub-w3">
                        <p> ISH - A hub of services for the smart citizen. ISH is a plathero of services such as  GST filing, ISO certification, K-12 publishing and many more.
                            It not only serve entrepreneurs and business firms but is helpful to every citizen. It provides basic as well as complex service. It also provides a platform for learning, fiscal management, healthcare etc.
                            It empowers different section of society, to legally pursue and fulfill their goal for a better life, by making access to legal and learning sources easy.
                            All this is done using best technologies over continuously updating platform.
                            Check out various services that ISH provide.<br>
                            TO ADD A SMART TALE TO YOUR LIFE, AVAIL OUR SERVICES.
                            WE ARE YOUR "ONE" SOLUTION TO "EVERY" REQUIREMENT.
                        </p>
                     </div>
                     
                    
                  </div>
               </div>
               <br><br><br>
          
            </div>
         </div>
         <!--//about" -->
         <div style="margin-top:5%" class="cotainer-fluid">
          
          <img src="../../assets/images/banner/Indian Smart Hub Flex(1).png" width="100%" height="30%">
                       
          <br><br>
         </div>
         <div  class="container-fluid" >
        <video style="margin-top:5%;width:100%;height:550px" autoplay muted loop id="myVideo">
                <source src="../../assets/parallexandvideo/banner.mp4" type="video/mp4">
        </video>
              
        
       </div>
        
         <!--services-->
         <div style="margin-top:7%"lass="service-video">
            <div class="service" id="services">
               <div class="container">
                 
                  <div class="w3ls_banner_bottom_grids agileinfo_testimonial_grids">
                     <div style="margin-top:5%" class="service-info">
                        <h5>Quality is never an accident it is always the result of high intention, sincere effort, intelligent direction and skillful execution; it represents the wise choice of many alternatives.
                        </h5>
                     </div>
                   
                  </div >
               </div>
            </div>
         </div>
         <h1  style=" text-align: center;margin-top:5%;"> Our Services</h1><br>
         <div class="row" style="margin-top:4%">
           
         <div  class="col-lg-4 ">
            <div  id="centered">     <strong><h2> Creative gallery</h2></strong><br>Add an artist's touch to your business! Transform it into tapestry.
                Let us design for you! Think and we will project your thoughts into 
                liberating designs.</div>
                
                <img   id="card" src="../../assets/services/creative .jpg" width="400px" height="400px" alt=" " class="img-responsive" />
                <br><br><br>
              </div>
             
             <div class="col-lg-4">
                <div id="centered">     <strong><h2>Financial flux</h2></strong><br>Get your business started easily with our help! 
Register your firm. Get GST filing done.
Get all you need under one roof. </div>
              <img id="card" src="../../assets/services/finacial flux.jpg" width="400px" height="400px" alt=" " class="img-responsive" />
             </div>
             <div class="col-lg-4">

               <a id="centered">
                  <strong><h2> Smart Serve</h2></strong><br>
                  Do things smartly with us. Pay your taxes.
                  Do E-filing. Get yourself PAN CARD, ADHAAR CARD
                  with biometric authentication. Serve yourself with our services!</a>
              <img id="card" src="../../assets/services/ish.jpg" width="400px" height="400px" alt=" " class="img-responsive" />
          </div>
          <div class="col-lg-4">
            <a id="centered"><strong><h2>Digital Marketing</h2></strong><br>Digital Marketing specialist who understands market live no one else giving you an edge from the rest of the competitors with its sparrow VM's offering bulk SMS , Email campaign and gateway applications</a>
            <img id="card" src="../../assets/services/jackson.jpg" width="400px" height="400px" alt=" " class="img-responsive" />
        </div>
        <div class="col-lg-4">
           <a id="centered" ><strong><h2> Branding</h2></strong><br> We design everthing for you - be it logo desiging , web designing , coorparate designing , brand strategies , marketings products , custom brand material etc.</a>

          <img id="card" src="../../assets/services/smartserve.jpg" width="400px" height="400px" alt=" " class="img-responsive" />
      </div>
      <div class="col-lg-4">
        <a id="centered">
         <strong><h2> Edu basket</h2></strong><br>
          We cater finest trainings from overseas professional trainers.
            Get trained by the finest!
            Grow and transform yourself into the best with our help.</a>
        <img id="card" src="../../assets/services/Edu-basket.jpg" width="400px" height="400px" alt=" " class="img-responsive" />
    </div>
             </div>
             <br><br>
      <div class = "container-fluid">
        <h1 style=" text-align: center;"> Gallery</h1><br>
          <angular-image-slider [images]="imagesUrl"></angular-image-slider>
      </div>
         
         <!--//team -->
         <br><br><br><br>
         <!-- //Footer -->
         <div id = "foot"class="footer">
            <div class="container">
               <div class="row footer-agile-grids">
             
                  <div class="col-lg-6  wthree-left-right">
                     <h4>Our Address</h4>
                     <div class="addres-up">
                        <ul>
                           <li>
                              <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                              <p>333 Broome St New York</p>
                           </li>
                           <li>
                              <span class="fa fa-phone icons-left" aria-hidden="true"></span>
                              <p>+11 256 5486</p>
                           </li>
                           <li>
                              <span class="fa fa-envelope"></span>
                              <p><a href="support@indiansmarthub.in">support@indiansmarthub.in</a></p>
                           </li>
                           <li>
                              <span class="fa fa-fax" aria-hidden="true"></span>
                              <p>(000)1122333</p>
                           </li>
                           <li>
                              <span class="fa fa-windows" aria-hidden="true"></span>
                              <p>http//ndiansmarthub.net</p>
                           </li>
                        </ul>
                     </div>
                     <div class="icons">
                        <ul>
                           <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                           <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                           <li><a href="#"><span class="fa fa-rss"></span></a></li>
                           <li><a href="#"><span class="fa fa-vk"></span></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-6 wthree-left-right">
                     <h4>Our Location</h4>
                     <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <footer>
            <p>© All Rights Reserved | Design by <a href="www.google.com`" target="_blank">Digital Boxitin</a></p>
         </footer>
         <!-- //Footer -->
         <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="exampleModalLiveLabel">Make a Booking</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="register-form">
                        <form action="#" method="post">
                           <div class="fields-grid">
                              <div class="styled-input">
                                 <input type="text" placeholder="Your Name" name="Your Name" required="">
                              </div>
                              <div class="styled-input">
                                 <input type="email" placeholder="Your Email" name="Your Email" required="">
                              </div>
                              <div class="styled-input">
                                 <input type="text" placeholder="Phone Number" name="Phone Number" required="">
                              </div>
                              <div class="styled-input agile-styled-input-top">
                                 <select class="category2" required="">
                                    <option value="">Number of People</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">More</option>
                                 </select>
                              </div>
                              <div class="styled-input agile-styled-input-top">
                                 <select class="category2" required="">
                                    <option value="">Select your Package</option>
                                    <option value="">Package 1</option>
                                    <option value="">Package 2</option>
                                    <option value="">Package 3</option>
                                    <option value="">Package 4</option>
                                 </select>
                                 <span></span>
                              </div>
                              <div class="styled-input">
                                 <div class="agileits_w3layouts_grid">
                                    <select class="category2" name="category1" required="">
                                       <option value="">Select Time</option>
                                       <option value="">Hours: 8am - 10am</option>
                                       <option value="">Hours: 10am - 12pm</option>
                                       <option value="">Hours: 12pm - 4pm</option>
                                       <option value="">Hours: 4pm - 7pm</option>
                                       <option value="">Hours: 7pm - 9pm</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="styled-input w3l-comment">
                                 <textarea name="more" placeholder="Something More" required=""></textarea>
                              </div>
                              <input type="submit" value="Submit">
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <!--js working-->
         <script src='../../assets/js/jquery-2.2.3.min.js'></script>
         <!--//js working-->
         <!-- carousal service slider-->
         <script src="../../assets/js/slick.js"></script>
         <script>
            $(document).on('ready', function() {
              $(".center").slick({
              dots: true,
              infinite: true,
              centerMode: true,
              slidesToShow: 2,
              slidesToScroll: 2,
              responsive: [
                {
                  breakpoint: 768,
                  settings: {
                  arrows: true,
                  centerMode: false,
                  slidesToShow: 2
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                  arrows: true,
                  centerMode: false,
                  centerPadding: '40px',
                  slidesToShow: 1
                  }
                }
               ]
              });
            });
         </script>
         <!-- //carousal -->
         <!--responsiveslides banner-->
         <script src="../../assets/js/responsiveslides.min.js"></script>
         <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider4").responsiveSlides({
                auto: true,
                pager:true,
                nav: false,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });
            
            });
         </script>
         <!--// responsiveslides banner-->	  
         <!--About OnScroll-Number-Increase-JavaScript -->
         <script src="../../assets/js/jquery.waypoints.min.js"></script>
         <script src="../../assets/js/jquery.countup.js"></script>
         <script>
            $('.counter').countUp();
         </script>
         <!-- //OnScroll-Number-Increase-JavaScript -->
         <!-- clients FlexSlider-JavaScript -->
         <script defer src="../../assets/js/jquery.flexslider.js"></script>
         <script>
            $(window).load(function(){
            $('.flexslider').flexslider({
              animation: "slide",
              start: function(slider){
                $('body').removeClass('loading');
              }
            });
            });
         </script>
         <!-- //clients FlexSlider-JavaScript -->
         <!-- gallery-lightbox -->  
         <script src="../../assets/js/lsb.min.js"></script>
         <script>
            $(window).load(function() {
                $.fn.lightspeedBox();
              });
         </script> 
         <!-- //gallery-lightbox -->
         <!-- start-smoth-scrolling -->
         <script src="../../assets/js/move-top.js"></script>
         <script src="../../assets/js/easing.js"></script>
         <script>
            jQuery(document).ready(function ($) {
              $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                  scrollTop: $(this.hash).offset().top
                }, 900);
              });
            });
         </script>
         <!-- start-smoth-scrolling -->
         <!-- here stars scrolling icon -->
         <script>
            $(document).ready(function () {
            
              var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
              };
            
            
              $().UItoTop({
                easingType: 'easeOutQuart'
              });
            
            });
         </script>
         <!-- //here ends scrolling icon -->
         <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
         <!--bootstrap working-->
         <script src="../../assets/js/bootstrap.min.js"></script>
         <!-- //bootstrap working-->
      </body>
   </html>  