<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-left:0px !important;padding-right:0px !important" class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
            
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div *ngIf="!this.Mobile" class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                    <div class="slider-img edbanner-img">
                      <div class="container">
                   </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div *ngIf="this.Mobile" class="slider">
          <div class="callbacks_container">
             <ul class="rslides" id="slider4">
                <li>
                  <div class="slider-img mobileban">
                    <div class="container">
                 </div>
                   </div>
                </li>
               
             </ul>
          </div>
         
       </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center;">
                  <h2 style="font-size: 270%">
                  <strong>   <br>Financial flux<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;padding-right:1%;padding-left:1%">We look at everything from alternative currencies to the post work economy to give you a clear picture of the economic opportunities and threats on the horizon. We provide the largest cloud based Financial services approach to your business by offering support at every stage of point. Our services cover all pate forms for entrepreneur and business persons too help them grow continually
                        Get your business started easily with our help! 
                        Register your firm. Get GST filing done.
                       Get all you need under one roof.
                     </p>
                  </div>
                  <h2>
                      <strong>   <br>Registration<br></strong>
                      </h2>
                      <div  class="info-sub-w4">
                         <p style="text-align:justify;padding-right:1%;padding-left:1%">Registration is process by which a company files required documents with the Securities and Exchange Commission (SEC), detailing the particulars of a proposed public offering.Indian Smart Hub provide you this services so that you can easily register yourself without any difficulties.Here we have hole team working for your requirements and comfort
                         </p>
                      </div>
                  
                 
               </div>
              
            </div>
            
       
         </div>
      </div>
      <!--//about" -->
    <div class="container-fluid">
      <div class="row" style="margin-top:2%">
        
      <div  class="col-lg-12 info-sub-w4">
         <div >     <strong><h2> Company Registration </h2></strong><p>Company registration is Governed by Ministry of Corporate Affairs in India. This registration is indeed a must for your company’s business else your company cannot have legal entity. It holds equal importance for all type of companies whether small, medium or large. It brings high promotional value to your business. Get your registration right now!
             
             <!-- <img   id="card" src="../../assets/services/flux/cr.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br> --></p>
             </div>
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>Trade mark Registration</h2></strong><p>Trademark is a logo or design that expresses the ideology of your company or product. It sets your brand apart from the others. Also, it provides a shield of protection to your brand name such that nobody can copy or use it for their own profit.

                Get your trademark registered today with our help!
Get all you need under one roof. </p>
</div>
           <!-- <img id="card" src="../../assets/services/flux/images (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12 info-sub-w4 ">

            <div id="centered">
               <strong><h2> Special Entity Registration</h2></strong>
              <p> Those entities which are created for a temporary or specific purpose are specific purpose entities. The purpose of special entity is to hide debt or ownership between different entities related to each other in order to avoid financial.
           <!-- <img id="card" src="../../assets/services/flux/images (2).jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
       </div>
      </div>
       <div class="col-lg-12 info-sub-w4">
         <div id="centered"><strong><h2>Intellectual Property </h2></strong><p>Intellectual Property refers to creations of mind: inventions; literary and artistic works; and symbols, names and images used in commerce. With the growth in cases of plagiarism in India, it is smart decision for an intellect to get this registration for your work. So that nobody may copy it with your permission or use it for corrupt practices.

          Save your work from thieves. Register with us!</p></div>
         <!-- <img id="card" src="../../assets/services/flux/123.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
     </div>
     <div class="col-lg-12 info-sub-w4 ">
        <div id="centered" ><strong><h2>ESI Registration</h2></strong><p> Employees’ State Insurance Scheme of India is a scheme implemented by the Government of India to give security to the employees working in an organized sector against events such as sickness, disablement and death due to an injury while working. This act was promulgated in 1948.

          Keep yourself shielded. Get yourself registered today! </p>
        </div>
       <!-- <img id="card" src="../../assets/services/flux/download (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
   </div>
   <div class="col-lg-12 info-sub-w4">
     <div id="centered"> 
      <strong><h2> MSME Registrationt</h2></strong>
     <p> It is a very beneficial registration for small and medium enterprises in India. MSME has become a boon to Indian Economy. Some of the benefits are easy loan sanctions, lower rates of interest, excise exemption scheme, exemption under Direct Tax Laws and statutory support such as reservation and interest on Delayed Payments Act.

      Get your company an MSME Registration.</p>
     <!-- <img id="card" src="../../assets/services/flux/MSME-Registration-Sevice.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
     <br><br><br> -->
     </div>
    </div>

 <div class="col-lg-12 info-sub-w4">
    <div id="centered">
     <strong><h2> Import Export Code</h2></strong>
     <p>In the era of globalization, where trades are crossing borders, import export code registration plays an important role in this cycle. In order to make your product reachable in the international market, we have to understand various legal procedures which may be difficult to understand. </p></div>
    <!-- <img id="card" src="../../assets/services/flux/vap_3682710143.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->

  </div>
  <div class="col-lg-12 info-sub-w4">
      <div id="centered">
       <strong><h2> FSSAI</h2></strong>
     <p>  It is a license issued by FSSAI for food which works as a permit to operate a food-related business. This license affirms that the food that is being sold is healthy. The process to get this license is easy and less time consuming. You may use FSSAI logo after you have received your license to publicise the quality of food you are selling.
     </p>
      </div>
      <!-- <img id="card" src="../../assets/services/flux/FASSI-Registration.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
   -->
    </div>
    <div class="col-lg-12 info-sub-w4">
        <div id="centered">
         <strong><h2>Iso Registration</h2></strong>
         <p>Certifications are one way to increase the credibility of your organization. Being ISO certified means you follow the best standards while manufacturing the product or while lending your services. ISO has developed international standards which are examined by external body. Choose the right ISO certification for your organization. We help you in getting you ISO Certified. </p>
        <!-- <img id="card" src="../../assets/services/flux/download (2).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
        <br><br><br> -->
        </div>
      </div>
      <div class="col-lg-12 info-sub-w4">
          <div id="centered">
           <strong><h2> Patent</h2></strong><p>
           Give shape to your own unique idea! Invent! But do not forget to get your patent. Patent comes with multiple benefits such as exclusive rights, authority to change, return on investment, public acknowledgement, profits via licensing or selling your work.

Invent and register for patent!</p>
          <!-- <img id="card" src="../../assets/services/flux/Patent.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
           -->
          </div>
   
        </div> <div class="col-lg-12 info-sub-w4">
            <div id="centered">
             <strong><h2> Copy Right Registration</h2></strong>
           <p>  The term copyright protection refers to the monopoly approved to authors by copyright law for exclusive use or reproduction. It has multiple benefits such as public record for ownership, legal action against infringers, protection against selling of infringing copies, motivation for creators, economic rewards etc.
           </p>
            </div>
            <!-- <img id="card" src="../../assets/services/flux/copy1.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->

          </div> 
          <div class="col-lg-12 info-sub-w4">
              <div id="centered">
               <strong><h2> Food Safety Registration</h2></strong><p>
               SSAI stands for Food Safety and Standards Authority of India which is an organization that monitors and governs the food business in India. It ensures the food products undergo quality checks thereby curtailing the food adulteration and sale of sub-standard products.</p>
              <!-- <img id="card" src="../../assets/services/flux/food-license.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->

            </div>
            </div>
      
          </div>
          
          <br><br>
        </div>
      <!--//team -->
   
      <!-- //Footer -->
     <app-fotter></app-fotter>
      </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  