#nav{
    background: black;
}
nav.navbar.navbar-expand-lg.navbar-light[_ngcontent-c2] {
    padding: 0.5em 0em;
    background-color: black;
    /* font-size: 0px; */
}
#size {
    padding: 0.5em 0em;
    background-color: black;
    font-size: 15px;
    letter-spacing: 3.3px !important;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    
}

    a[_ngcontent-c2]:hover {
        color: white;
        text-decoration: none;
    }