<script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);
    
    function hideURLbar() {
      window.scrollTo(0, 1);
    }
 </script>
 <!--booststrap css-->
 <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
 <!-- font-awesome icons -->
 <link href="../../assets/css/font-awesome.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <!-- For Clients slider -->
 <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
 <!-- //For clients slider -->
 <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
 <!--gallery lsb lightbox-->
 <!--stylesheets-->
 <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
 <!--//stylesheets-->
 <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

 <div  class="container">
 <nav style="margin-top:5%;padding-left:2%" *ngIf="isMobile" class="navbar-dark">
  
  <button  style="color:black !important;position:fixed;z-index:4;" id="nav" (click)="toggleCollapsed()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span  class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="so" class="container"  style="color:transparent !important;position:fixed;z-index:2" [ngClass]="{'collapse': collapsed, 'navbar-collapse': false}" id="navbarSupportedContent"class="collapse navbar-collapse justify-content-center" >
    <br><br> 
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a  href='#'>Home </a>
     </li>
   
      <li class="nav-item ">
           <a  routerLink="/serve">Smart Serve </a>
        </li>
        <li class="nav-item">
           <a  routerLink="/brand">Creative gallery</a>
        </li>
        <li class="nav-item">
           <a  routerLink="/register">Financial Flux</a>
        </li>
        <li class="nav-item">
           <a  routerLink="/edu">Edu basket</a>
        </li>
        <li class="nav-item">
           <a  routerLink="/login">Login</a>
        </li>
      
     </ul>
  </div>
</nav> 
</div>



<nav id="size" *ngIf="!isMobile" class="navbar navbar-expand-lg">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>

                  </button>
                  <div class="collapse navbar-collapse" id="navigationbar">
                     
                   <ul class="navbar-nav ">
                     <li class="nav-item">

                            <a (click)="redirecttoub()" class="pull-left"><img src="../../assets/images/logo/ish-logo (2) - Copy (1).png" width="80px" height="30px"></a> 
                       
                     </li>
                     <li class="nav"   >
                      <a (click)="redirecttoEdu()"style="background: black;color:white;font-size: 13px;margin-top: 2%"    role="button"  aria-haspopup="true" aria-expanded="true">
                        &nbsp;Jagsun edu&nbsp;&nbsp;</a>
                     </li>
                     
                    <li (mouseenter) ="serveOpen()"   class="nav-item dropdown">
                     
                              <a  style="color:white;font-size: 13px;margin-top: 8%"  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Smart Serve
                           <div (mouseleave)=" closeServe()"  style="background: black;margin-top:14%;text-align:center;margin-left:-10%;font-size: 15px"  (click)="smarthubsec=true"id="nav" *ngIf="toScroll"class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                    <a class="dropdown" routerLink='/serve' >bill desk </a><br>                              
                                    <a class="dropdown" routerLink='/ticketing'>Ticketing</a><br>
                                    <a class="dropdown" routerLink='/insurance'>Insurance</a><br>
                                    <a class="dropdown" routerLink='/knowmore'>&nbsp;know more&nbsp;</a><br>
                                   
                                  </div>
                              </a>  
                             
                            </li>

                            <li (mouseenter) ="galOpen()"  class="nav-item dropdown">
                              <a  style="color:white;font-size: 13px;margin-top: 6%"  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                             Creative gallery
                                <div (mouseleave)="galClose()" id="nav" style="background: black;margin-top:10%;text-align:center;margin-left:-24%;font-size: 15px;"  (click)="creativeClose=true" *ngIf="creativeGall"class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                    <a   routerLink='/brand' class="dropdown">Branding<br> </a>
                                    
                                    
                                  
                                    <a style="display:inline-block; white-space: nowrap;"  routerLink='/digital' class="dropdown" >&nbsp;Digital Marketing&nbsp;</a><br>

                                 
                                    <a style="display:inline-block; white-space: nowrap;" routerLink='/portfolio' class="dropdown" >&nbsp;Portfolio management&nbsp;</a>
                                    <a style="display:inline-block; white-space: nowrap;" routerLink='/portfolio' class="dropdown" >&nbsp;Know more&nbsp;</a>
                                  </div>
                              </a>
                             
                            </li>
                          
                           
                              <li (mouseenter) ="openflux()" class="nav-item dropdown">
                                  <a  style="color:white;font-size: 13px;margin-top: 8%"  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                   Financial flux
                                    <div  (mouseleave)="closeflux()" style="background: black;margin-top:11%;text-align:center;display:inline-block; white-space: nowrap;margin-left:-24%;font-size: 15px" id ="nav" *ngIf="forFinalcial"class="dropdown-menu show" aria-labelledby="navbarDropdown">
                      
                                  <a  routerLink='/register' class="dropdown">Regitration <br></a>
                                       
                                        <a   routerLink='/gst' class="dropdown" >GST <br></a>
                                       
                                        <a  routerLink='/documentation' class="dropdown ">Documentation<br></a>
                                        
                                        <a routerLink='/tax'class="dropdown" >Tax compliance<br></a>
                                        
                                        <a  routerLink='/personalservices'class="dropdown" >Personal services<br></a>
                                      
                                    
                                      
                                        <a style="display:inline-block; white-space: nowrap;"  routerLink='/Funding' class="dropdown" >&nbsp;Complaince and Funding&nbsp;</a><br>
                                        <a class="dropdown" routerLink='/serve'>know more</a><br>
                                 
                                        </div>
                                  </a>
                                 
                                </li>
                                <li (mouseenter) ="openedu()" class="nav-item dropdown">
                                  <a  style="color:white;font-size: 13px;margin-top: 9%"  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    edu baskets
                                    <div (mouseleave)="closeedu()" style="background: black;margin-top:13%;text-align:center;margin-left:-24%;font-size: 15px" id="nav" *ngIf="toflip"class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <a style="display:inline-block; white-space: nowrap;"class="dropdown" routerLink="/edu">&nbsp;Future Planner &nbsp;</a>
                                        <a style="display:inline-block; white-space: nowrap;"class="dropdown" routerLink="/edu">&nbsp;Jagsun edu &nbsp;<br></a>
                                        <a style="display:inline-block; white-space: nowrap;"class="dropdown" routerLink="/edu">&nbsp;Jagsun academy &nbsp;<br></a>
                                        <a style="display:inline-block; white-space: nowrap;"class="dropdown" routerLink="/edu">&nbsp;Digital teaching  &nbsp;<br></a>
                                        <a style="display:inline-block; white-space: nowrap;" class="dropdown" routerLink="/edu">&nbsp;K-12 Publishing&nbsp;<br></a>
                                        <a class="dropdown" routerLink='/serve'>know more</a><br>
                                      </div>
                                  </a>
                                 
                                </li>
                                <li (mouseenter) ="openlogin()" class="nav-item dropdown">
                                  <a  style="color:white;font-size: 13px;margin-top:15%" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                 Login
                               </a>
                               <div (mouseleave)="closelogin()" style="background: black;margin-top:18%;text-align:center;margin-left:-28%;font-size: 15px"  id="nav" *ngIf="logins"class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                  <a style="color:white;font-size:100%" class="dropdown" (click)="redirect()" >&nbsp;Mail<br>&nbsp;</a>
                                  <a style="color:white;font-size:100%;display:inline-block; white-space: nowrap;" class="dropdown" >&nbsp;Market Place &nbsp;</a>

      
                                </div>
                                
                               </li>
                               <li (mouseenter)="opentact()" class="nav-item dropdown">
                                <a  style="color:white;font-size: 13px;margin-top: 8%;" class="nav-link dropdown-toggle"  role="button"  aria-haspopup="true" aria-expanded="true">
                                  &nbsp;&nbsp;Contact us&nbsp;</a>
                                  <div  (mouseleave)="closectact()" style="background: black;margin-top:12%;text-align:center;margin-left:-98%;font-size: 15px"  id="nav" *ngIf="cotact" class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                    <a style="color:white;font-size:100%" class="dropdown"  >&nbsp;Indian Smart Hub&nbsp;</a>
                                    <a style="color:white;font-size:100%;display:inline-block; white-space: nowrap;" class="dropdown" >&nbsp;Indian Smart Hub Partner &nbsp;</a>
                                    
                                  
                                  </div>
                               </li>
                        
                     </ul>
                  </div>
               </nav>
               <script src='../../assets/js/jquery-2.2.3.min.js'></script>
           
               <!-- carousal service slider-->
               <script src="../../assets/js/slick.js"></script>
               <script>
                  $(document).on('ready', function() {
                    $(".center").slick({
                    dots: true,
                    infinite: true,
                    centerMode: true,
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    responsive: [
                      {
                        breakpoint: 768,
                        settings: {
                        arrows: true,
                        centerMode: false,
                        slidesToShow: 2
                        }
                      },
                      {
                        breakpoint: 480,
                        settings: {
                        arrows: true,
                        centerMode: false,
                        centerPadding: '40px',
                        slidesToShow: 1
                        }
                      }
                     ]
                    });
                  });
               </script>
               <!-- //carousal -->
               <!--responsiveslides banner-->
               <script src="../../assets/js/responsiveslides.min.js"></script>
               <script>
                  // You can also use "$(window).load(function() {"
                  $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                      auto: true,
                      pager:true,
                      nav: false,
                      speed: 900,
                      namespace: "callbacks",
                      before: function () {
                        $('.events').append("<li>before event fired.</li>");
                      },
                      after: function () {
                        $('.events').append("<li>after event fired.</li>");
                      }
                    });
                  
                  });
               </script>
               <!--// responsiveslides banner-->	  
               <!--About OnScroll-Number-Increase-JavaScript -->
               <script src="../../assets/js/jquery.waypoints.min.js"></script>
               <script src="../../assets/js/jquery.countup.js"></script>
               <script>
                  $('.counter').countUp();
               </script>
               <!-- //OnScroll-Number-Increase-JavaScript -->
               <!-- clients FlexSlider-JavaScript -->
               <script defer src="../../assets/js/jquery.flexslider.js"></script>
               <script>
                  $(window).load(function(){
                  $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider){
                      $('body').removeClass('loading');
                    }
                  });
                  });
               </script>
               <!-- //clients FlexSlider-JavaScript -->
               <!-- gallery-lightbox -->  
               <script src="../../assets/js/lsb.min.js"></script>
               <script>
                  $(window).load(function() {
                      $.fn.lightspeedBox();
                    });
               </script> 
               <!-- //gallery-lightbox -->
               <!-- start-smoth-scrolling -->
               <script src="../../assets/js/move-top.js"></script>
               <script src="../../assets/js/easing.js"></script>
               <script>
                  jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                      event.preventDefault();
                      $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                      }, 900);
                    });
                  });
               </script>
               <!-- start-smoth-scrolling -->
               <!-- here stars scrolling icon -->
               <script>
                  $(document).ready(function () {
                  
                    var defaults = {
                      containerID: 'toTop', // fading element id
                      containerHoverID: 'toTopHover', // fading element hover id
                      scrollSpeed: 1200,
                      easingType: 'linear'
                    };
                  
                  
                    $().UItoTop({
                      easingType: 'easeOutQuart'
                    });
                  
                  });
               </script>
               <!-- //here ends scrolling icon -->
               <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
               <!--bootstrap working-->
               <script src="../../assets/js/bootstrap.min.js"></script>