#nav{
    background: black;
}
nav.navbar.navbar-expand-lg.navbar-light[_ngcontent-c2] {
    padding: 0.5em 0em;
    background-color: black;
    /* font-size: 0px; */
}
.container-fluid[_ngcontent-c1] {
    width: 100%;
    padding-right: 7px !important;
    padding-left: 7px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

a[_ngcontent-c3]:hover {
    color:white !important;
    text-decoration: none !important;
}

#size[_ngcontent-c3] {
    position:fixed;
    background-color:black;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    margin-top: 2%;
    margin-left: 22%;
    margin-right: 0%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

    a[_ngcontent-c2]:hover {
        color: white;
        text-decoration: none;
    }