<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-left:0px !important;padding-right:0px !important" class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
            
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div  *ngIf="!this.Mobile" class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img edbanner-img">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div *ngIf="this.Mobile" class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                    <div class="slider-img mobileban">
                      <div class="container">
                   </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
            </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center">
                  <h2 style="font-size:220%">
                  <strong>   <br>Personal services<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;padding-left: 3%;padding-right: 3%">In this Indian smart hub provides bunch of services that make your life easy and comforting, with subscription of  ISH you can enjoy the services just by the hit of one click.  
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
      
       
         </div>
      </div>
      <!--//about" -->
    <div class="container-fluid">   
        <div class="row" style="margin-top:1%">
        
      <div  class="col-lg-12 info-sub-w4">
         <div  id="centered">     <strong><h2>Pan card</h2></strong><p> - Permanent Account Number is a code that acts as an identification for individuals, families and corporate, especially those who pay Income Tax. So, get your pan card right now with help of our Indian Smart Hub service team that can make your work easy.
         </p></div>
             <!-- <img   id="card" src="../../assets/images/logoandotherpics/PAN-CARD-.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br> -->
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>Digital Signature</h2></strong><br><p> a digital code (generated and authenticated by public key encryption) which is attached to an electronically transmitted document to verify its contents and the sender's identity.
              A digital signature is basically a way to ensure that an electronic document (e-mail, spreadsheet, text file, etc.) is authentic.
             </p>
            </div>
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div id="centered">
               <strong><h2> Legal services</h2></strong><p>
               - Legal aid is the provision of assistance to people otherwise unable to afford legal representation and access to the court system. Legal aid is regarded as central in providing access to justice by ensuring equality before the law, the right to counsel and the right to a fair trial. Therefore Indian Smart Hub service team provides you all the  help person required while facing legal issues. </p> 
            </div>
           <!-- <img id="card" src="../../assets/images/logoandotherpics/leagl services.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
       <br><br> -->
          </div>
       <div class="col-lg-12 info-sub-w4">
         <div id="centered"><strong><h2>ITR filling</h2></strong><p>- an official document issued by a government, certifying the holder's identity and citizenship and entitling them to travel under its protection to and from foreign countries.
          ISH executives would help you get your desired passport services with just one click on your screen.</p></div>
         <!-- <img id="card" src="../../assets/images/logoandotherpics/maxresdefault.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
     </div>
     <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>Electrol services</h2></strong><p>- The register is used for electoral purposes, such as making sure only eligible people can vote. It is also used for other limited purposes specified in law, such as: detecting crime (e.g. fraud), calling people for jury service, checking credit applications.</p> </div>
      <!-- <img id="card" src="../../assets/images/logoandotherpics/BarnetElectoralServices.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  </div>
      
          
          
          <div class="col-lg-12 info-sub-w4">
            <a id="centered"><strong><h2>E-fillings</h2></strong><p>- Electronic filing is the process of submitting tax returns over the Internet using tax preparation software that has been pre-approved by the relevant tax authority, such as the IRS .  Indian Smart Hub service team can help you filling your  e-filling , here our executives are sitting in just a way who can help you resolving the issues. </a>
            <!-- <img id="card" src="../../assets/images/logoandotherpics/images (2).jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
        </div>
            </div>
                </div>
              
          <br><br>
      
      <!--//team -->
    <app-fotter></app-fotter>
              </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  