<!DOCTYPE html>
<html lang="en">
   <head>
      <title>IndianSmartHub</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
   
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
    
   

   <div  id = "foot"class="footer" style="padding-left:2%;margin-top:-1%" >
     <div class="container-fluid">
        <div style="font-family:Helvetica" class="row footer-agile-grids">
            <div class="col-lg-3 col-md-3 col-sm-3 wthree-left-right">
                <h4 style="color:#E4620A;font-family:Helvetica;">Indian Smart Hub</h4>
              <p style="color: white;font-size:130%">Experience a plethora of vivid services at one click.Every procedure made easy for you.Learngrow and evolve with us! We provide our customers endless support and help.We are right here for you!</p>
             </div>
      
           <div class="col-lg-3  wthree-left-right">
              <h4 style="color:#E4620A;font-family:Helvetica;">Our Address</h4>
              <div class="addres-up">
                 <ul>
                    <li  >
                        <span style="margin-top:2%" class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                       <p>&nbsp;&nbsp;Garhi Multan,Kamila road</p><br>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gharaunda,Karnal-132114</p>
                    </li>
                    <li  >
                        <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                       <p >&nbsp;&nbsp;Indian SmartHub,Basement </p>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-Sultanpur,Metro Station</p> <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delhi,110030</p>
                    </li>
                    <li style="display:inline-block;"  >
                       <span class="fa fa-envelope"></span>
                       <p><a href="support@indiansmarthub.in">support@indiansmarthub.in</a></p>
                    </li>
                    <li>
                       <span class="fa fa-fax" aria-hidden="true"></span>
                       <p>(000)1122333</p>
                    </li>
                    <li>
                       <span class="fa fa-windows" aria-hidden="true"></span>
                       <p><a href="https://indiansmarthub.net">https://indiansmarthub.net</a></p>
                    </li>
                 </ul>
              </div>
              <div style="margin-top:6%"class="icons">
                 <ul>
                    <li><a (click)="redirectToFacebook()"><span class="fa fa-facebook"></span></a></li>
                    <li><a ><span class="fa fa-twitter"></span></a></li>
                    <li><a (click)="redirectToInsta()"><span class="fa fa-instagram"></span></a></li>
                    <li><a (click)="redirectToInsta()"><span class="fa fa-linkedin"></span></a></li>
                 </ul>
              </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 wthree-left-right ">
              <h4 style="color:#E4620A;font-family:Helvetica;">Carrier</h4>
              
              <a class="animated infinite bounce delay-2s btn btn-primary text-on-primary readmore1" routerLink="/carrier" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;border-top-left-radius: 15px;">Join with us</a>
                     </div>
           <div class="col-lg-3 col-md-3 col-sm-3 wthree-left-right">
            <h4 style="color:#E4620A;font-family:Helvetica;">Our Location</h4>
            <div class="contact-map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
            </div>
         </div>
         
        </div>
     </div>
  </div>
  <footer style="background-color:black !important;">
     <p>© All Rights Reserved | Design by <a href="www.google.com`" target="_blank">Digital Boxitin</a></p>
  </footer>

 

        
     
     
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  