<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-left:0px !important;padding-right:0px !important"  class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
           
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img edbanner-img">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center">
                  <h2 style="font-size:220%">
                  <strong>   <br>Compliance And Funding <br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">Registration is process by which a company files required documents with the Securities and Exchange Commission (SEC), detailing the particulars of a proposed public offering.Indian Smart Hub provide you this services so that you can easily register yourself without any difficulties.Here we have hole team working for your requirements and comfort  
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
    
       
         </div>
      </div>
      <!--//about" -->
    
      <div class="row" style="margin-top:1%">
        
      <div  class="col-lg-12 info-sub-w4">
            <div  id="centered">     <strong><h2>Business Plan</h2></strong><p>The rental agreement or lease deed is designed for leasing or renting commercial property. The rental agreement is a legal document which lays out the prescribed terms and conditions under which the rented property is leased out that is to be followed between the land lord and the tenant.
            </p>
          </div>
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>C.M.A report</h2></strong><p> A job offer letter is a formal written document sent by an employer to a job candidate selected for employment.Companies may also make job offers via email or in writing, depending on company policy and how the company handles hiring.

             </p>
                 </div>
        
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div id="centered">
               <strong><h2> Term Loan</h2></strong><p>
               An Appointment Letter is a legally binding document that confirms that an organization has offered a position to an employee and they have accepted the terms and agreement in exchange for a salary.</p>
            </div>
          
       </div>
       <div class="col-lg-12 info-sub-w4">
         <div id="centered"><strong><h2>Working  Capital Loans </h2></strong><p>Intellectual property is a category of property that includes intangible creations of the human intellect, and primarily encompasses copyrights, patents, and trademarks. It also includes other types of rights, such as trade secrets, Working  Capital Loansmoral rights, and rights against unfair competition 
         <!-- <img id="card" src="../../assets/images/logoandotherpics/download (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br> -->
         </p>
        </div>
      </div>
     <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>Personal loans</h2></strong><p>A partnership deed is a written legal document to avoid unnecessary misunderstanding, harassment and unpleasantness among the partners in the event of any dispute. For mutual benefit, the registration of Deed of Partnership is made under the Indian Registration Act, 1908 so as to avoid apprehension of the Deed of partnership being destroyed or mutilated in the possession of the partners. 
      </p>
  </div>
</div>
</div>    
          
  
            
          <br><br>
      <app-fotter></app-fotter>
      </div>
      <!--//team -->
  
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  