<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Branding</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
           
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img creative">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <div style="text-align:center">
                  <h2>
                  <strong>   <br>Portfolio management<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">Make your online presence with us, get the best applications and services from Indian Smart Hub so that you can achieve high in your business with strong growth factor.</p>
                  </div>
                 
              
               </div>
              
            </div>
            <br><br><br>
       
         </div>
      </div>
      <!--//about" -->
    
      <div class="row" style="margin-top:4%">
        
      <div  class="col-lg-4 ">
            <div  id="centered">     <strong><h2> Web content writing</h2></strong><br><p>A website content writer or web content writer specializes in providing relevant content for websites. Every website has a specific target audience and requires different content.

              We will provide you best content writing</p></div>
                
             <img   id="card" src="../../assets/images/portfolio/unnamed (5).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br>
           </div>
          
          <div class="col-lg-4">
             <div id="centered">     <strong><h2>Blog article writing</h2></strong><br><p>We have best content writers and blog writes who make your content invincible . Therefore every time the some one reads your blog post or will just gives you a thumbs up.


                 </div>
           <img id="card" src="../../assets/images/portfolio/blog_banner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
          </div>
          <div class="col-lg-4">

            <a id="centered">
               <strong><h2>  Social media pages creation</h2></strong><br>
               With ISh team we will make the best social media pages for you.

Social media pages shows your presence overonline so they must look good  
</a>
           <img id="card" src="../../assets/images/portfolio/unnamed.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
       </div>
       <div class="col-lg-4">
         <a id="centered"><strong><h2>Social media pages
          </h2></strong><br>Social media are interactive computer-mediated technologies that facilitate the creation and sharing of information, ideas, career interests and other forms of expression via virtual communities and networks. </a>
         <img id="card" src="../../assets/images/portfolio/unnamed (2).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br>
        </div>
      <div class="col-lg-4">
      <a id="centered"><strong><h2>Maintains</h2></strong><br>We will provide you the best maintains of your social media pages by providing the desired services to you.</a>
      <img id="card" src="../../assets/images/portfolio/maintaince.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  </div>
  <div class="col-lg-4">
      <a id="centered"><strong><h2>Website templates Design</h2></strong><br> A website template (or web template) is a pre-designed webpage, or set of HTML webpages that anyone can use to "plug-in" their own text content and images into to create a website

      </a>
      <img id="card" src="../../assets/images/portfolio/unnamed (4).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div>  
  <div class="col-lg-4">
      <a id="centered"><strong><h2>Search engine optimization</h2></strong><br>Get the most unique and beautiful design for your Vouchers while getting our subscription from us

        We have a  team is dedicated for you!</a>
      <img id="card" src="../../assets/images/portfolio/unnamed (4).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div> 
    <div class="col-lg-4">
      <a id="centered"><strong><h2>  Website ui design</h2></strong><br>User interface design (UI) is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience.</a>
      <img id="card" src="../../assets/images/portfolio/website ui design.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div>
          
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Web application development</h2></strong><br>Web application development consists of web portal Android and IOS app which help you to represent your work over the social world.
    </a>
    <img id="card" src="../../assets/images/portfolio/a.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
</div>
        
  <div class="col-lg-4">
    <a id="centered"><strong><h2> Content management system</h2></strong><br>Maintaing the content of your website or blog or social media page comes under this grop and with the help of finniest content writers we can help you providing all the details. 


    </a>
    <img id="card" src="../../assets/images/portfolio/E-commerce-banner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />

</div>   <div class="col-lg-4">
    <a id="centered"><strong><h2>E-commerce application</h2></strong><br>One of the finniest and most widely used web application is ecommerce application. So any small and medium broker can sell their products on this plateform.
    </a>
    <img id="card" src="../../assets/images/portfolio/E-commerce-banner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  
</div>  
 <div class="col-lg-4">
    <a id="centered"><strong><h2>Development

      </h2></strong><br>We provide many kind of  software Development. Just say it and we make those things with the help of finest team we have
    </a>
    <img id="card" src="../../assets/images/portfolio/appl.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
 <div class="col-lg-4">
    <a id="centered"><strong><h2> Email marketing</h2></strong><br>Email marketing is an efficient way to communicate and stay connected to your clients or customers while also promoting your business. It's a distribution channel for content. Common email campaigns consist of product or service announcements, a company newsletter, lead nurturing and sales promotions.
    </a>
    <img id="card" src="../../assets/images/portfolio/unnamed.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
   <div class="col-lg-4">
    <a id="centered"><strong><h2>Web re design</h2></strong><br>Change the format of your website as per your choice and like we design it for you in best possible way
    </a>
    <img id="card" src="../../assets/images/portfolio/unnamed (4).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Web maintains</h2></strong><br>Maintains is the most important thing in web development, maintains is required to make the website run efficiently without any lag and error.


    </a>
    <img id="card" src="../../assets/images/portfolio/maintaince.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>  
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Blog creation & maintains</h2></strong><br>A weblog, also called a blog, is a journal that is maintained by a blogger and contains information that is instantly published to their blog website. Blogging is a very popular activity. The number of online users creating and maintaining blogshas increased dramatically over the past year.
    </a>
    <img id="card" src="../../assets/images/portfolio/maintaince.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>   
    
  <div class="col-lg-4">
    <a id="centered"><strong><h2>  Bulk Sms marketing</h2></strong><br>To get the result while marketing Bulk Sms sending is the best way to enhance your marketing strategies
    </a>
    <img id="card" src="../../assets/images/portfolio/smsbulk.png" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>  
  <div class="col-lg-4">
    <a id="centered"><strong><h2> Mobile  application</h2></strong><br>A mobile app or mobile application is a computer program designed to run on a mobile device such as a phone/tablet or watch
    </a>
    <img id="card" src="../../assets/images/portfolio/mobileapp.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>      
  
</div>
          <br><br>
      
      <!--//team -->
      <br><br><br><br>
      <!-- //Footer -->
      <div id = "foot"class="footer">
         <div class="container">
            <div class="row footer-agile-grids">
          
               <div class="col-lg-6  wthree-left-right">
                  <h4>Our Address</h4>
                  <div class="addres-up">
                     <ul>
                        <li>
                           <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                           <p>333 Broome St New York</p>
                        </li>
                        <li>
                           <span class="fa fa-phone icons-left" aria-hidden="true"></span>
                           <p>+11 256 5486</p>
                        </li>
                        <li>
                           <span class="fa fa-envelope"></span>
                           <p><a href="support@indiansmarthub.in">support@indiansmarthub.in</a></p>
                        </li>
                        <li>
                           <span class="fa fa-fax" aria-hidden="true"></span>
                           <p>(000)1122333</p>
                        </li>
                        <li>
                           <span class="fa fa-windows" aria-hidden="true"></span>
                           <p>http//ndiansmarthub.net</p>
                        </li>
                     </ul>
                  </div>
                  <div class="icons">
                     <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-6 wthree-left-right">
                  <h4>Our Location</h4>
                  <div class="contact-map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <p>© All Rights Reserved | Design by <a href="www.google.com`" target="_blank">Digital Boxitin</a></p>
      </footer>
      <!-- //Footer -->
      <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLiveLabel">Make a Booking</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="text" placeholder="Phone Number" name="Phone Number" required="">
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Number of People</option>
                                 <option value="">1</option>
                                 <option value="">2</option>
                                 <option value="">3</option>
                                 <option value="">More</option>
                              </select>
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Select your Package</option>
                                 <option value="">Package 1</option>
                                 <option value="">Package 2</option>
                                 <option value="">Package 3</option>
                                 <option value="">Package 4</option>
                              </select>
                              <span></span>
                           </div>
                           <div class="styled-input">
                              <div class="agileits_w3layouts_grid">
                                 <select class="category2" name="category1" required="">
                                    <option value="">Select Time</option>
                                    <option value="">Hours: 8am - 10am</option>
                                    <option value="">Hours: 10am - 12pm</option>
                                    <option value="">Hours: 12pm - 4pm</option>
                                    <option value="">Hours: 4pm - 7pm</option>
                                    <option value="">Hours: 7pm - 9pm</option>
                                 </select>
                              </div>
                           </div>
                           <div class="styled-input w3l-comment">
                              <textarea name="more" placeholder="Something More" required=""></textarea>
                           </div>
                           <input type="submit" value="Submit">
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  