<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right: 0px !important;padding-left: 0px !important" class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
            <div style="text-align:center" class="hedder-up">
               <h1 style="text-align:center;margin-left:40%"><a class="navbar-brand">Bill Desk<br><span class="fa fa-lightbulb-o" aria-hidden="true"></span>
               
              </a></h1>
            </div>
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img serveban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
<div style="padding-right:15px;padding-left:15px" class="about" id="about">

 <div class="row">        
    <div class="col-lg-12" style="text-align:center">
     <h2 style="text-align:center;font-size:330%;">
        <strong>   <br>Bill Desk<br></strong>
      </h2>
      </div>
<div  class="row info-sub-w4">
 <p style="text-align:justify;font-size:200%;padding-right: 15px !important;padding-left: 15px"> Paying your bills on time is an important aspect of taking control of your financial life. Knowing when your bills are due and making a habit of paying them on time can reduce your stress, save you money, boost your credit score and enable you to get lower-interest credit in the future. But how do you start making on-time bill paying a habit? It's easier than you may think. Isn’t it sounds Wow, if we can pay all our bill payments at One Place in One visit? Utility Bills like Electricity, Water, Telephone Bills, Mobile Pre-Paid or Post-Paid bill Payments Recharges, Airtel Money Services, Online Shopping from your favourite website like Amazon, Flipkart, Snap deal etc. DTH Recharges and new Connections, Tax & Challan Payments all these can be done at One Desk. That is our Republic Centre.
  </p>
</div>
<div class="row">
  <div class="col-lg-12">
<table style="font-size:200%;text-align:justify;margin-left:-1%;font-family:'Montserrat';color: #7d7979;padding-right: 15px !important;padding-left: 15px" >
 
  <tr>
    <td>1. UTILITY BILLS</td>
    </tr>
    <tr><td>2.Mobile Payments</td></tr>
    <tr><td>3.DTH Recharge & Sales</td></tr>
    <tr><td>4. e Commerce Sales</td><tr>
    <tr><td>5. Temporary Permit Fee</td><tr> 
    <tr><td>6.Tax Payments</td><tr>
    <tr><td>7. Airtel Money</td><tr>
     <tr><td> 8. e-Challan For Police Department</td><tr>
  
</table>
</div>
</div>
<div class='row'>
<h2 style="margin-top:2%;font-size:250%;padding-right: 15px !important;padding-left: 15px"> <strong>   <br>UTILITY BILLS:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%; padding-right: 15px !important;padding-left: 15px;   color: #7d7979;">The amount a household or office is expected to pay for electricity, water and/or gas each month. Utility bills vary according to one's usage. Utility bills deal with household and office related daily bill payments. Under utility bills, customers can pay electricity Bills, Water Bills, Subscription Payments, Broadband and Landline Payments.</p></div>
<div class="row">
<h2 style="margin-top:2%;font-size:250%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>MOBILE PAYMENTS:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px;color: #7d7979;">Paying Mobile Bills On time can allow us to enjoy Unlimited Calls, Messages and Data Usage etc. Mobile payments refers to paying bills of mobile networks, it may be a pre paid or a post paid bill Payment of any mobile network like Idea, Airtel, Vodafone etc. At Republic centre generally mobile payments are point-of-sale made payment through mobile device.</p> 
</div>
<div class="row">
<h2 style="margin-top:2%;font-size:250%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>DTH RECHARGE & SALES:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px;color: #7d7979;">Direct-to-Home, It is a digital satellite service that provides television viewing services directly to subscribers through satellite transmission anywhere in the country. In this a dish is placed outside a home which helps in receiving the signals and broadcasting the transmission onto a telvision. Ex: Airtel, Videocon, Reliance, Dish TV, Sun direct, Tata Sky etc.</p>
</div>
<div class="row">
<h2 style="margin-top:2%;font-size:220%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>TEMPORARY PERMIT FEE:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px;  color: #7d7979;">Temporary permits refer to a written or oral authorization to do something for a short duration. They are permits issued temporarily. Usually they are issued on payment of a prescribed fee for a specific period beyond which it has no validity. It is issued for any kind of Road Vehicle, when the vehicle is going roam in some new State/place for a short duration of time. At Republic Centre people can pay their Temporary Permit Fee to avoid the waiting at Check Post of any Border.</p>
</div>
<div class="row">
<h2 style="margin-top:2%;font-size:220%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>TAX PAYMENTS:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px;color: #7d7979;">Tax is an amount of money that you have to pay to the government so that it can pay for public services. When a person or company is taxed, they have to pay a part of their income or profits to the government. When goods are taxed, a percentage of their price has to be paid to the government. At Republic centre, People can pay their tax payments like municipal tax, water tax etc.</p>
</div>
<div class="row">
<h2 style="margin-top:2%;font-size:220%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>AIRTEL MONEY:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px; color: #7d7979;">Airtel Money is an account on your phone, in which you can load money and then use it for a host of service.You can send money, pay bills and recharge, directly from your mobile. You can send money to family and friends, recharge your prepaid mobile and digital TV, pay mobile / utility bills, book movie tickets, pay for your shopping (both at shops & online) and much more with Airtel Money.</p>
</div>
<div class="row">
<h2 style="margin-top:2%;font-size:220%;padding-right: 15px !important;padding-left: 15px;"> <strong>   <br>E-CHALLAN FOR POLICE DEPARTMENT:<br></strong></h2>
<p style="text-align:justify;font-size:200%;margin-top:1%;padding-right: 15px !important;padding-left: 15px;color: #7d7979;">Challan is an official form or document such as receipt or Invoice. Police e-Challan is issued for someone an official notice of any traffic offence.</p>
</div>
</div>
              
         
            <br><br><br>
       
         </div>
      </div>
      <!--//about" -->
    
      <!-- <div class="row" style="margin-top:4%">
        
      <div  class="col-lg-4 ">
         <div  id="centered">     <strong><h2>ECommerce Sales</h2></strong><br> “Ecommerce Sales” is ISH’s Consumer goods sale enabling platform. Here people may purchase various things such as Food, Clothes, Gadgets etc. Since, there are no retailers and distributors involved, we sell these at a lesser rate as compared to the market price of the products.
         </div>
             
             <img   id="card" src="../../assets/images/SERVE/E-commerce.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
             <br><br>
           </div>
          
          <div class="col-lg-4">
             <div id="centered">     <strong><h2>E-Challan </h2></strong><br><p> Technology has intersected with our lives to make it more easy. Standing in the queues is an old story meant to be forgotten. We have make it easier for you.
                    Police e-Challan is an invoice or receipt issued by the police to traffic offender as a notice for breaking the rule.                  
            <br><br>  
            </div>
           <img id="card" src="../../assets/images/SERVE/unnamed.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
          </div>
          <div class="col-lg-4">

            <a id="centered">
               <strong><h2>Tax Payments</h2></strong><br>
               Our government asks for a certain percentage of your earning or profit and further invests it in infrastructure and other public services. It is important for us to pay these taxes so that our country prospers with us. Here at ISH, we support the taxes and provide you with an online tax paying platform.

</a>
           <img id="card" src="../../assets/images/SERVE/unnamed (1).jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
       <br><br>
          </div>
       <div class="col-lg-4">
         <a id="centered"><strong><h2>Ticketing</h2></strong><br>Plan your activities and travel beforehand. The initial step to every plan is buying tickets. Why to stand in queues to get your tickets done or why to login into sites that are slow for your fast moving life?</a>
         <img id="card" src="../../assets/images/SERVE/Ticketing.jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> 
     </div>
     <div class="col-lg-4">
      <a id="centered"><strong><h2>Aadhar</h2></strong><br>Aadhar has become a “mandatory” identity proof authorized by Government of India for unique identification and authorization of each citizen. It is required for appearing for any government organized exam, a government post etc. Even private sector finds it a responsible identification method. 
      </a>
      <img id="card" src="../../assets/images/SERVE/unnamed (1).jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
  </div>
      
          
          
          <div class="col-lg-4">
            <a id="centered"><strong><h2>Isurance </h2></strong><br>Insurance is a bullet proof jacket against the bad times which may or may not hit a person. It is a financial envelope against unforeseen events such as accident, health issue, rotten crop or in some cases death.</a>
            <img id="card" src="../../assets/images/SERVE/insurance.jpg"width="100%" height="490vw" alt=" " class="img-responsive" />
     <br><br>
        </div> -->
            
                
                
                <!-- <div class="col-lg-4">
                        <a id="centered"><strong><h2>Pension</h2></strong><br>It is usually a small amount provided by the central/state government to old, pregnant or disabled.
                            There are four schemes in relation to this:
                             >   Sr. Citizen / State Old Age Pension: It is provided by the state/central government to the retired, widows or disabled
                            >     ANC Pension: It is provided to the pregnant women who are at a loss in terms of wages while they are pregnant.
                     
                            </a>
                        <img id="card" src="../../assets/images/SERVE/unnamed (2).jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
                  <br><br>
                    </div>
                        
                                 <div class="col-lg-4">
                                    <a id="centered"><strong><h2>Dth services </h2></strong><br>Pay for your digital satellite services i.e. for your set up box and continue being uninterruptedly entertained.  No need to leave your house to get your dish recharge done.  Ex: Airtel, Videocon, Reliance, Dish TV, Sun direct, Tata Sky etc.
                                    </a>
                                    <img id="card" src="../../assets/images/SERVE/dth.jpeg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                
                                    
                                        </div>     <div class="col-lg-4">
                                                <a id="centered"><strong><h2>Mobile bills payments and recharges </h2></strong><br>Enjoy calling, messaging and 4G speed without any blockage. Pay your bills and recharge on time. We make online mobile recharge and bill payments simple and safe for you</a>
                                                <img id="card" src="../../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="col-lg-4">
                                                    <a id="centered"><strong><h2>Utility bills</h2></strong><br>Electricity, water and gas are necessities in today’s life. Forget standing in lines to pay for these bills! PAY for electricity, gas, water, Subscription, Broadband and Landline on ISH’s portal. Discover a unique and single solution to all your bill payments.</a>
                                                    <img id="card" src="./../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                              
                                            </div>
                                                    </div> -->
        
      <!-- //Footer --><br>
     <app-fotter></app-fotter>

      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  