<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right: 0px !important;padding-left:0px !important;"class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
            <div style="text-align:center" class="hedder-up">
               <h1 style="margin-left:40%" ><a class="navbar-brand">Bill desk<br><br><span class="fa fa-lightbulb-o" aria-hidden="true"></span>
               
              </a></h1>
            </div>
         </div>

         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div  class="slider-img serveban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <div class="about" id="about">
         <div class="container-fluid">
               <div style="text-align:center">
                  <h2  style="text-align:center;font-size: 270%">
                  <strong>   Smart Serve<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">Paying your bills on time is an important aspect of taking control of your financial life. Knowing when your bills are due and making a habit of paying them on time can reduce your stress, save you money, boost your credit score and enable you to get lower-interest credit in the future. But how do you start making on-time bill paying a habit? It's easier than you may think. Isn’t it sounds Wow, if we can pay all our bill payments at One Place in One visit? Utility Bills like Electricity, Water, Telephone Bills, Mobile Pre-Paid or Post-Paid bill Payments Recharges, Airtel Money Services, Online Shopping from your favourite website like Amazon, Flipkart, Snap deal etc. DTH Recharges and new Connections, Tax & Challan Payments all these can be done at One Desk. That is our Republic Centre.
                     </p>
                 
              
               </div>
              
            </div>
            
       
         </div>
  
      <!--//about" -->
    
      <div class="row" style="margin-top:1%">
        
      <div  class="col-lg-12">
         <div class="info-sub-w4" >   
             <strong><h2 style="font-size:220%;padding-left:1%">ECommerce Sales</h2></strong> 
          <p style="padding-left:1%" >“Ecommerce Sales” is ISH’s Consumer goods sale enabling platform. Here people may purchase various things such as Food, Clothes, Gadgets etc. Since, there are no retailers and distributors involved, we sell these at a lesser rate as compared to the market price of the products.</p>
         </div>
           </div>
          
          <div class="col-lg-12">
             <div class="info-sub-w4" >     <strong><h2 style="font-size:220%;padding-left:1%">E-Challan </h2></strong>
              
               <p style="padding-left:1%">Technology has intersected with our lives to make it more easy. Standing in the queues is an old story meant to be forgotten. We have make it easier for you.
                    Police e-Challan is an invoice or receipt issued by the police to traffic offender as a notice for breaking the rule.</p>                  
            
            </div>
           <!-- <img id="card" src="../../assets/images/SERVE/unnamed.jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12">

            <div class="info-sub-w4" >
               <strong><h2  style="font-size:220%;padding-left:1%">Tax Payments</h2></strong>
             <p style="padding-left:1%">  Our government asks for a certain percentage of your earning or profit and further invests it in infrastructure and other public services. It is important for us to pay these taxes so that our country prospers with us. Here at ISH, we support the taxes and provide you with an online tax paying platform.
             </p>
            </div>
           <!-- <img id="card" src="../../assets/images/SERVE/unnamed (1).jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
       <!-- <br><br> -->
          </div>
       <div class="col-lg-12">
         <div style="padding-left:1%"class="info-sub-w4"><strong><h2>Ticketing</h2></strong>
          <p style="padding-left: 1%">Plan your activities and travel beforehand. The initial step to every plan is buying tickets. Why to stand in queues to get your tickets done or why to login into sites that are slow for your fast moving life?</p>
         <!-- <img id="card" src="../../assets/images/SERVE/Ticketing.jpg" width="100%" height="490vw" alt=" " class="img-responsive" />  -->
     </div>
    </div>
     <div class="col-lg-12">
      <div style="padding-left:1%" class="info-sub-w4"><strong><h2>Aadhar</h2></strong>
        <p>Aadhar has become a “mandatory” identity proof authorized by Government of India for unique identification and authorization of each citizen. It is required for appearing for any government organized exam, a government post etc. Even private sector finds it a responsible identification method.</p> 
      </div>
      <!-- <img id="card" src="../../assets/images/SERVE/unnamed (1).jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
  </div>
      
          
          
          <div class="col-lg-12">
            <div class="info-sub-w4" style="font-size:220%;padding-left:1%"><strong><h2>Isurance </h2></strong>
              <p style="padding-left:0%" >Insurance is a bullet proof jacket against the bad times which may or may not hit a person. It is a financial envelope against unforeseen events such as accident, health issue, rotten crop or in some cases death.</p>
            <!-- <img id="card" src="../../assets/images/SERVE/insurance.jpg"width="100%" height="490vw" alt=" " class="img-responsive" /> -->
        </div>
      </div>
                
                
                <div class="col-lg-12">
                        <div  class="info-sub-w4" style="font-size:220%;padding-left:1%"><strong><h2>Pension</h2></strong>
                          <p style="padding-left:0%" >It is usually a small amount provided by the central/state government to old, pregnant or disabled.
                            There are four schemes in relation to this:<br>
                            >   Sr. Citizen / State Old Age Pension: It is provided by the state/central government to the retired, widows or disabled<br>
                            >     ANC Pension: It is provided to the pregnant women who are at a loss in terms of wages while they are pregnant.<br>
                            >    BPL: It is provided to the below poverty line people, using a Ration Card, to help them buy necessary commodities at fair prices.<br>
                            >     Indira Gandhi National Old Age Pension (IGNOAP)</p>
                            </div>
                        <!-- <img id="card" src="../../assets/images/SERVE/unnamed (2).jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
                  
                    </div>
                        
                                 <div class="col-lg-12">
                                    <div  class="info-sub-w4" style="font-size:220%;padding-left:1%"><strong><h2>Dth services </h2></strong>
                                    <p  syle="padding-left:0%"t>Pay for your digital satellite services i.e. for your set up box and continue being uninterruptedly entertained.  No need to leave your house to get your dish recharge done.  Ex: Airtel, Videocon, Reliance, Dish TV, Sun direct, Tata Sky etc.</p>
                                    </div>
                                  </div>
                                    <!-- <img id="card" src="../../assets/images/SERVE/dth.jpeg" width="100%" height="490vw" alt=" " class="img-responsive" />
                                 -->
                                    
                          
                                    <div class="col-lg-12">
                                                <div class="info-sub-w4"  style="font-size:220%;padding-left:1%;" ><strong><h2>Mobile bills payments and recharges </h2></strong>
                                                  <p>Enjoy calling, messaging and 4G speed without any blockage. Pay your bills and recharge on time. We make online mobile recharge and bill payments simple and safe for you</p>
                                                <!-- <img id="card" src="../../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
                                            </div>
                                          </div>
                                            <div class="col-lg-12" >
                                                    <div class="info-sub-w4"  style="font-size:220%;padding-left:1%;" ><strong><h2>Utility bills</h2></strong>
                                                      <p>Electricity, water and gas are necessities in today’s life. Forget standing in lines to pay for these bills! PAY for electricity, gas, water, Subscription, Broadband and Landline on ISH’s portal. Discover a unique and single solution to all your bill payments.</p>
                                                    <!-- <img id="card" src="./../assets/images/SERVE/bill-payments.jpg" width="100%" height="490vw" alt=" " class="img-responsive" /> -->
                                              
                                            </div>
                                                    </div>
                                                  </div>    
          <br><br>
      </div>
      <!--//team -->
      <br><br><br><br>
      <!-- //Footer -->
      <app-fotter></app-fotter>
    </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  