
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
			<!--booststrap css-->
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right: 0px !important;padding-left:0px !important;"class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
       
         </div>

         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img creative mobileban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <div class="about" id="about">
         <div class="container-fluid">
               <div style="text-align:center">
                  <h2  style="text-align:center;font-size: 270%">
                  <strong>   <br>Creative gallery<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">Paying your bills on time is an important aspect of taking control of your financial life. Knowing when your bills are due and making a habit of paying them on time can reduce your stress, save you money, boost your credit score and enable you to get lower-interest credit in the future. But how do you start making on-time bill paying a habit? It's easier than you may think. Isn’t it sounds Wow, if we can pay all our bill payments at One Place in One visit? Utility Bills like Electricity, Water, Telephone Bills, Mobile Pre-Paid or Post-Paid bill Payments Recharges, Airtel Money Services, Online Shopping from your favourite website like Amazon, Flipkart, Snap deal etc. DTH Recharges and new Connections, Tax & Challan Payments all these can be done at One Desk. That is our Republic Centre.
                     </p>
                 
              
               </div>
              
            </div>
            
       
         </div>
				 <div class="container" >
					<div class="row"style="margin-top:2%">
				 <div  class="col-lg-12 info-sub-w4">
					 <div style="text-align: center">     <strong><h1> Want to know more about our services</h1></strong>
						 <p>Fell free browse through our contenet
						 </p>
							 </div>
						 </div>   
						 </div>
             <div class="row">
                <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                   <div class="row h-50">
                      <div class="col-md-12 col-sm-12 co-xs-12 gal-item animated  bounceInLeft delay-2s" >
                          <div class="box">
                         <img  src="../../assets/digitalmarketingknow/Branding.jpg"  height="400vw !important" width="100% !important" class="img-ht  rounded">
                          </div>
                      </div>
                  </div>
                
                  <div class="row h-50">
                     <div class="col-md-6 col-sm-6 co-xs-12 gal-item animated bounceInLeft delay-2s" >
                      <div class="box">
                      <img src="../../assets/digitalmarketingknow/wd.jpg" height="300vw !important" width="100% !important" class="img-ht rounded">
                    </div>
                    </div>
            
                    <div class="col-md-6 col-sm-6 co-xs-12 gal-item animated bounceInLeft delay-2s">
                     <div class="box">
                      <img src="../../assets/digitalmarketingknow/creative-website-design1.jpg"  height="300vw !important" width="100% !important"  class="img-ht  rounded">
                    </div>
                    </div>
                        </div>
                  </div>
            
                       <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                     <div class="col-md-12 col-sm-6 co-xs-12 gal-item animated bounceInRight delay-2s">
                    <div class="box">
                      <img src="../../assets/digitalmarketingknow/digital-marketing.jpg"  height="350vw !important" class="img-ht rounded">
                    </div>
                    </div>
            
                      <div class="col-md-12 col-sm-6 co-xs-12 gal-item  animated bounceInRight delay-2s">
                       <div class="box">
                      <img src="./../assets/digitalmarketingknow/Graphic-Designing.jpg"  height="300vw !important" class="img-ht rounded">
                    </div>
                    </div>
                        </div>
            
              </div>
              
            </div> 
           
           </div>
           <!--//team -->
           <br><br>
           <!-- //Footer -->
           <app-fotter></app-fotter>
         </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  