<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Branding</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right:0px!important;padding-left:0px!important;" class="container-fluid">
      
      <div class="header-outs" >
        
         <div class="header-bar" >
        
            <app-navbar></app-navbar>
           
         </div>
         
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
  
         <div class="slider">
            <div class="callbacks_container">
              
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img creative" >
                      
                
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center;">
                  <h2 style="font-size:300%;" >
                  <strong>   <br>Branding Solutions <br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;font-size:200%;padding-left:3%;padding-right: 3%">Paying your bills on time is an important aspect of taking control of your financial life. Knowing when your bills are due and making a habit of paying them on time can reduce your stress, save you money, boost your credit score and enable you to get lower-interest credit in the future. But how do you start making on-time bill paying a habit? It's easier than you may think. Isn’t it sounds Wow, if we can pay all our bill payments at One Place in One visit? Utility Bills like Electricity, Water, Telephone Bills, Mobile Pre-Paid or Post-Paid bill Payments Recharges, Airtel Money Services, Online Shopping from your favourite website like Amazon, Flipkart, Snap deal etc. DTH Recharges and new Connections, Tax & Challan Payments all these can be done at One Desk. That is our Republic Centre.
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
  
       
         </div>
      </div>
      <!--//about" -->
    
      <!-- <div class="row" style="margin-top:1%;"> -->
        
      <div  class="col-lg-12 info-sub-w4" >
            <div >     
              <strong><h2 style="font-size:220%">Business Card</h2></strong>
              <p>Business cards are cards bearing business information about a company or individual. They are shared during formal introductions as a convenience and a memory aid.

              To be remembered contact us to make the best Business cards</p>
            </div>
                
             <!-- <img   id="card" src="../../assets/images/creative/business-cards.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br> -->
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div style="font-size:220%">     <strong><h2>Letterhead Design</h2></strong>
              <p>A letterhead, or letterheaded paper, is the heading at the top of a sheet of letter paper. That heading usually consists of a name and an address, and a logo or corporate design, and sometimes a background pattern. The term "letterhead" is often used to refer to the whole sheet imprinted with such a heading.


                 </div>
           <!-- <img id="card" src="../../assets/images/creative/content2.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div style="font-size:220%">
               <strong><h2> Standy Design</h2></strong>
              <p> A standee is a large self-standing display promoting a movie, product or event. They are typically made of foam-board, and may range from large self-standing posters to elaborate three-dimensional display devices with moving parts and lights.</p>
            </div>
           <!-- <img id="card" src="../../assets/images/creative/Standy Design-.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
       </div>
       <div class="col-lg-12 info-sub-w4">
         <div  style="font-size:220%"><strong><h2>Cover Letter Design
          </h2></strong><p>A cover letter design  provides you your first introduction of who you are so, make you first meet memorable by getting the best designs ever. </p>
         <!-- <img id="card" src="../../assets/images/creative/coverletter.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
        </div>
        </div>
      <div class="col-lg-12 info-sub-w4">
      <div style="font-size:220%"><strong><h2>Envelop Design</h2></strong>
        <p>Envelopes are handy ways to deliver marketing materials anywhere in the world. ... The beauty of custom envelopes is that they are printed flat, then "converted" into envelopes, so your design can wrap around the envelope, or you can inject visual appeal by contrasting the back or flap. </p>
      <!-- <img id="card" src="../../assets/images/creative/Envelop Design.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  </div>
</div>
  <div class="col-lg-12 info-sub-w4">
      <div style="font-size:220%"><strong><h2>Invoice Design</h2></strong><p> You'll want to send a Graphic Design Invoice anytime you complete work for a client and you want to get paid. Your invoice typically lists all the work you completed, any products you sold, and, most importantly, the price you're charging.</p>

      </div>
      <!-- <img id="card" src="../../assets/images/creative/Invoice Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  
    </div>  
  <div class="col-lg-12 info-sub-w4">
      <div style="font-size:220%"><strong><h2>Voucher Design</h2></strong><p>Get the most unique and beautiful design for your Vouchers while getting our subscription from us

        We have a  team is dedicated for you!</p>
      </div>
      <!-- <img id="card" src="../../assets/images/creative/k.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br> -->
    </div> 
    <div class="col-lg-12 info-sub-w4">
      <div style="font-size:220%"><strong><h2> Poster Design</h2></strong><p>posters include both textual and graphic elements, although a poster may be either wholly graphical or wholly text. Posters are designed to be both eye-catching and informative. Posters may be used for many purposes
      <!-- <img id="card" src="../../assets/images/creative/name3.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br> --></p>
    </div>
  </div>    
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2> Customized stationary design</h2></strong><p>With Indian Smart Hub you can customized your stationary design in best and unique way. 
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
</div>
        
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2> Outdoor medium Design</h2></strong><p>ISH help you create the most effective outdoor advertising designs for your billiboard. Outdoor advertising is an incredibly rich and diverse medium that allows a very unique spectrum of creativity for designers to play with
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/outdoor.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->

</div>   <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Theatre slide Design</h2></strong><p>Theatre is a collaborative form of fine art that uses live performers to present the experience of a real or imagined event before a live audience in a specific place.
    </p>

    </div>
    <!-- <img id="card" src="../../assets/images/creative/Theatre slide Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  
</div>  
 <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Certificate Design</h2></strong><p>A decorative font is the perfect way to grab the attention of readers. Help the recipient of the certificate feel special by writing their name in a bold, celebratory font.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/unnamed5.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->

  </div>   
 <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2> Flyer Design</h2></strong><p>A brilliant flyer design can do wonders to help promote an event or product by making people feel excited about it. Artwork and printing are key factors in a leaflet or flyer's effectiveness, but the overall design – especially the use of colour – needs careful consideration for it to achieve its purpose
      </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/Theatre slide Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->
    
  </div>   
   <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Brochure Design</h2></strong><p>Brochures are promotional documents, primarily used to introduce a company, organization, products or services and inform prospective customers or members of the public of the benefits.

      So get the best Brochure Design from Indian Smart Hub and make your company and product colorful and beautiful.
    </p>
    </div>
    
    <!-- <img id="card" src="../../assets/images/creative/Brochure Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> -->
  </div>    
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Magzine design</h2></strong><p>Magazine and print designers must be versatile in many areas. Design and typography is a must, image color correction is a good bonus, but to be able to work on your own, which means creating print materials from beginning to an end, you have to know lots of stuff about prepress process.
    </p>
    </div>

    <!-- <img id="card" src="../../assets/images/creative/Magazine design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> -->
  </div>   
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Banners ads</h2></strong><p>banner ad design focuses on the systematic creation of effective web banner ads through the careful application of basic design guidelines. Banner ads are one of the most prolific forms of marketing used in today's online world.
      </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/Banner Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->

  </div>   
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>White label Desgin</h2></strong>
      <p>A white label product is a product or service produced by one company that other companies rebrand to make it appear as if they had made it.

      SO while Dealing with other brands make them like you owe them with help of Indian Smart Hub.</p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/White label Desgin (1).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->
  </div>   
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Newsletter Design</h2></strong><p>Plenty of room for images and multiple text sections make it as useful as it is engaging. A newsletter is an important point of contact. Whether you're designing one for a school, a business, another type of organization, or just for your family and friends, you want it to reflect your message and you can do this with the help of Indina Smart Hub.
    </div>
    <!-- <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->
  </div>  
   <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Signage Design</h2></strong><p>Signage is the design or use of signs and symbols to communicate a message to a specific group, usually for the purpose of marketing or a kind of advocacy.  We will help you design these Signage in beautiful and more creative way.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->
  </div> 
   <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Vehicle Branding Design</h2></strong><p>Vehicle branding is a great and cost-effective way to create a huge impact on thousands of your potential customers every day.  So join and we make unique Vehicle branding Design for you.
    </p>
    </div>
    
    <!-- <img id="card" src="../../assets/images/creative/Vehicle Branding Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br>  -->
  </div>  
    <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2> Press ads Design</h2></strong><p>Press advertising is a form of display advertising reproduced in national, local or street press titles. The same ad may appear on a variety of paper stocks from absorbent newspaper to glossy inserts, with diverse prepress and print plants located nationally, either pre-printed or inline.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/Press ads Design.png" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  </div>
     <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Cd’s & cd cover designs</h2></strong><p>Cd’s Advertisement is the one of most expressive medium for advertisement of movie or other creative works. And ISH helps you to create flawless design that attracts large amounts of audience.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/Cd’s & cd cover designs.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
   </div> 
     <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Catalogue Design</h2></strong><p>Catalogue is a graphic design product that presents your products or services to your potential clients. A catalogue describes your overall line of products or services you offer to your customers and should be designed by top standards.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/content4.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
   </div>
  <div class="col-lg-12 info-sub-w4">
    <div style="font-size:220%"><strong><h2>Logo</h2></strong>
      <p>
        With us design the logo of your dreams in a matter of days. A good logo is an integral part of a successful business.
    </p>
 
    <!-- <img id="card" src="../../assets/images/creative/ish-logo (2) - Copy (1).png" width="400px" height="600px" alt=" " class="img-responsive" /> -->
   <!-- </div> -->         
     
      
  </div>
 
</div>
     
      </div>
      <br><br>
      <app-fotter></app-fotter>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  