<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Branding</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
           
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img creative">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center">
                  <h2>
                  <strong>   <br>Branding Solutions <br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">We provide exclusive designs to impact uniqueness to your business . We design everything for you - be it logo designing , web designing , corporate designing , brand strategies , marketing products , custom brand material etc.
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
            <br><br><br>
       
         </div>
      </div>
      <!--//about" -->
    
      <div class="row" style="margin-top:4%">
        
      <div  class="col-lg-4 ">
            <div  id="centered">     <strong><h2>Business Card</h2></strong><br><p>Business cards are cards bearing business information about a company or individual. They are shared during formal introductions as a convenience and a memory aid.

              To be remembered contact us to make the best Business cards</p></div>
                
             <img   id="card" src="../../assets/images/creative/business-cards.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br>
           </div>
          
          <div class="col-lg-4">
             <div id="centered">     <strong><h2>Letterhead Design</h2></strong><br><p>A letterhead, or letterheaded paper, is the heading at the top of a sheet of letter paper. That heading usually consists of a name and an address, and a logo or corporate design, and sometimes a background pattern. The term "letterhead" is often used to refer to the whole sheet imprinted with such a heading.


                 </div>
           <img id="card" src="../../assets/images/creative/content2.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
          </div>
          <div class="col-lg-4">

            <a id="centered">
               <strong><h2> Standy Design</h2></strong><br>
               A standee is a large self-standing display promoting a movie, product or event. They are typically made of foam-board, and may range from large self-standing posters to elaborate three-dimensional display devices with moving parts and lights.
</a>
           <img id="card" src="../../assets/images/creative/Standy Design-.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
       </div>
       <div class="col-lg-4">
         <a id="centered"><strong><h2>Cover Letter Design
          </h2></strong><br>A cover letter design  provides you your first introduction of who you are so, make you first meet memorable by getting the best designs ever. </a>
         <img id="card" src="../../assets/images/creative/coverletter.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br>
        </div>
      <div class="col-lg-4">
      <a id="centered"><strong><h2>Envelop Design</h2></strong><br>Envelopes are handy ways to deliver marketing materials anywhere in the world. ... The beauty of custom envelopes is that they are printed flat, then "converted" into envelopes, so your design can wrap around the envelope, or you can inject visual appeal by contrasting the back or flap. </a>
      <img id="card" src="../../assets/images/creative/Envelop Design.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
  </div>
  <div class="col-lg-4">
      <a id="centered"><strong><h2>Invoice Design</h2></strong><br> You'll want to send a Graphic Design Invoice anytime you complete work for a client and you want to get paid. Your invoice typically lists all the work you completed, any products you sold, and, most importantly, the price you're charging.

      </a>
      <img id="card" src="../../assets/images/creative/Invoice Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div>  
  <div class="col-lg-4">
      <a id="centered"><strong><h2>Voucher Design</h2></strong><br>Get the most unique and beautiful design for your Vouchers while getting our subscription from us

        We have a  team is dedicated for you!</a>
      <img id="card" src="../../assets/images/creative/k.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div> 
    <div class="col-lg-4">
      <a id="centered"><strong><h2> Poster Design</h2></strong><br>posters include both textual and graphic elements, although a poster may be either wholly graphical or wholly text. Posters are designed to be both eye-catching and informative. Posters may be used for many purposes </a>
      <img id="card" src="../../assets/images/creative/name3.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br>
    </div>
          
  <div class="col-lg-4">
    <a id="centered"><strong><h2> Customized stationary design</h2></strong><br>With Indian Smart Hub you can customized your stationary design in best and unique way. 
    </a>
    <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
</div>
        
  <div class="col-lg-4">
    <a id="centered"><strong><h2> Outdoor medium Design</h2></strong><br>ISH help you create the most effective outdoor advertising designs for your billiboard. Outdoor advertising is an incredibly rich and diverse medium that allows a very unique spectrum of creativity for designers to play with
    </a>
    <img id="card" src="../../assets/images/creative/outdoor.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />

</div>   <div class="col-lg-4">
    <a id="centered"><strong><h2>Theatre slide Design</h2></strong><br>Theatre is a collaborative form of fine art that uses live performers to present the experience of a real or imagined event before a live audience in a specific place.
    </a>
    <img id="card" src="../../assets/images/creative/Theatre slide Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  
</div>  
 <div class="col-lg-4">
    <a id="centered"><strong><h2>Certificate Design</h2></strong><br>A decorative font is the perfect way to grab the attention of readers. Help the recipient of the certificate feel special by writing their name in a bold, celebratory font.
    </a>
    <img id="card" src="../../assets/images/creative/unnamed5.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
 <div class="col-lg-4">
    <a id="centered"><strong><h2> Flyer Design</h2></strong><br>A brilliant flyer design can do wonders to help promote an event or product by making people feel excited about it. Artwork and printing are key factors in a leaflet or flyer's effectiveness, but the overall design – especially the use of colour – needs careful consideration for it to achieve its purpose
    </a>
    <img id="card" src="../../assets/images/creative/Theatre slide Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
   <div class="col-lg-4">
    <a id="centered"><strong><h2>Brochure Design</h2></strong><br>Brochures are promotional documents, primarily used to introduce a company, organization, products or services and inform prospective customers or members of the public of the benefits.

      So get the best Brochure Design from Indian Smart Hub and make your company and product colorful and beautiful.
    </a>
    <img id="card" src="../../assets/images/creative/Brochure Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>   
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Magzine design</h2></strong><br>Magazine and print designers must be versatile in many areas. Design and typography is a must, image color correction is a good bonus, but to be able to work on your own, which means creating print materials from beginning to an end, you have to know lots of stuff about prepress process.
    </a>
    <img id="card" src="../../assets/images/creative/Magazine design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br> 
  </div>  
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Banners ads</h2></strong><br>banner ad design focuses on the systematic creation of effective web banner ads through the careful application of basic design guidelines. Banner ads are one of the most prolific forms of marketing used in today's online world.
    </a>
    <img id="card" src="../../assets/images/creative/Banner Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>   
  <div class="col-lg-4">
    <a id="centered"><strong><h2>White label Desgin</h2></strong><br>A white label product is a product or service produced by one company that other companies rebrand to make it appear as if they had made it.

      SO while Dealing with other brands make them like you owe them with help of Indian Smart Hub.
    </a>
    <img id="card" src="../../assets/images/creative/White label Desgin (1).jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>   
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Newsletter Design</h2></strong><br>Plenty of room for images and multiple text sections make it as useful as it is engaging. A newsletter is an important point of contact. Whether you're designing one for a school, a business, another type of organization, or just for your family and friends, you want it to reflect your message and you can do this with the help of Indina Smart Hub.
    </a>
    <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div>  
   <div class="col-lg-4">
    <a id="centered"><strong><h2>Signage Design</h2></strong><br>Signage is the design or use of signs and symbols to communicate a message to a specific group, usually for the purpose of marketing or a kind of advocacy.  We will help you design these Signage in beautiful and more creative way.
    </a>
    <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br>
  </div> 
   <div class="col-lg-4">
    <a id="centered"><strong><h2>Vehicle Branding Design</h2></strong><br>Vehicle branding is a great and cost-effective way to create a huge impact on thousands of your potential customers every day.  So join and we make unique Vehicle branding Design for you.
    </a>
    <img id="card" src="../../assets/images/creative/Vehicle Branding Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br> 
  </div>  
    <div class="col-lg-4">
    <a id="centered"><strong><h2> Press ads Design</h2></strong><br>Press advertising is a form of display advertising reproduced in national, local or street press titles. The same ad may appear on a variety of paper stocks from absorbent newspaper to glossy inserts, with diverse prepress and print plants located nationally, either pre-printed or inline.
    </a>
    <img id="card" src="../../assets/images/creative/Press ads Design.png" width="400px" height="600px" alt=" " class="img-responsive" />
  </div>
     <div class="col-lg-4">
    <a id="centered"><strong><h2>Cd’s & cd cover designs</h2></strong><br>Cd’s Advertisement is the one of most expressive medium for advertisement of movie or other creative works. And ISH helps you to create flawless design that attracts large amounts of audience.
    </a>
    <img id="card" src="../../assets/images/creative/Cd’s & cd cover designs.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
   </div> 
     <div class="col-lg-4">
    <a id="centered"><strong><h2>Catalogue Design</h2></strong><br>Catalogue is a graphic design product that presents your products or services to your potential clients. A catalogue describes your overall line of products or services you offer to your customers and should be designed by top standards.
    </a>
    <img id="card" src="../../assets/images/creative/content4.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
   </div>
  <div class="col-lg-4">
    <a id="centered"><strong><h2>Logo</h2></strong><br>With us design the logo of your dreams in a matter of days. A good logo is an integral part of a successful business.
    </a>
    <img id="card" src="../../assets/images/creative/ish-logo (2) - Copy (1).png" width="400px" height="600px" alt=" " class="img-responsive" />
   </div>         
</div>
          <br><br>
      
      <!--//team -->
      <br><br><br><br>
      <!-- //Footer -->
      <div id = "foot"class="footer">
         <div class="container">
            <div class="row footer-agile-grids">
          
               <div class="col-lg-6  wthree-left-right">
                  <h4>Our Address</h4>
                  <div class="addres-up">
                     <ul>
                        <li>
                           <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                           <p>333 Broome St New York</p>
                        </li>
                        <li>
                           <span class="fa fa-phone icons-left" aria-hidden="true"></span>
                           <p>+11 256 5486</p>
                        </li>
                        <li>
                           <span class="fa fa-envelope"></span>
                           <p><a href="support@indiansmarthub.in">support@indiansmarthub.in</a></p>
                        </li>
                        <li>
                           <span class="fa fa-fax" aria-hidden="true"></span>
                           <p>(000)1122333</p>
                        </li>
                        <li>
                           <span class="fa fa-windows" aria-hidden="true"></span>
                           <p>http//ndiansmarthub.net</p>
                        </li>
                     </ul>
                  </div>
                  <div class="icons">
                     <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-6 wthree-left-right">
                  <h4>Our Location</h4>
                  <div class="contact-map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <p>© All Rights Reserved | Design by <a href="www.google.com`" target="_blank">Digital Boxitin</a></p>
      </footer>
      <!-- //Footer -->
      <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLiveLabel">Make a Booking</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="text" placeholder="Phone Number" name="Phone Number" required="">
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Number of People</option>
                                 <option value="">1</option>
                                 <option value="">2</option>
                                 <option value="">3</option>
                                 <option value="">More</option>
                              </select>
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Select your Package</option>
                                 <option value="">Package 1</option>
                                 <option value="">Package 2</option>
                                 <option value="">Package 3</option>
                                 <option value="">Package 4</option>
                              </select>
                              <span></span>
                           </div>
                           <div class="styled-input">
                              <div class="agileits_w3layouts_grid">
                                 <select class="category2" name="category1" required="">
                                    <option value="">Select Time</option>
                                    <option value="">Hours: 8am - 10am</option>
                                    <option value="">Hours: 10am - 12pm</option>
                                    <option value="">Hours: 12pm - 4pm</option>
                                    <option value="">Hours: 4pm - 7pm</option>
                                    <option value="">Hours: 7pm - 9pm</option>
                                 </select>
                              </div>
                           </div>
                           <div class="styled-input w3l-comment">
                              <textarea name="more" placeholder="Something More" required=""></textarea>
                           </div>
                           <input type="submit" value="Submit">
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  x