
@media screen and ( min-width:1200px) and (max-width: 2500px) { 
    .box{
           display: flex;
           justify-content: center;
           margin-top:5%;
         }
.creative{ background:url(/assets/images/creative/4.jpg)no-repeat center;
    opacity:1 };
   }
   @media screen and ( min-width:300px) and (max-width: 1200px) { 
    .creative{
        background: url(/assets/mobileview/CreativeGallry1.jpg)no-repeat center center fixed  !important;   
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        /* margin-top:10%; */
        width: 100% !important;
        height: 100% !important;    
    }
    
   .box{
     display: flex;
     justify-content: center;
     margin-top:50%;
   }
   }