<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-left:0px !important;padding-right:0px !important"  class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div *ngIf="!this.Mobile" class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img eduban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div *ngIf="this.Mobile" class="slider">
          <div class="callbacks_container">
             <ul class="rslides" id="slider4">
                <li>
                   <div class="slider-img mobileban">
                      <div class="container">
                   </div>
                   </div>
                </li>
               
             </ul>
          </div>
         
       </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <div style="text-align:center">
                  <h2>
                  <strong>   <br>Edu Basket<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;padding-left: 1%;padding-right: 1%">We cater finest trainings from overseas professional trainers.
                      Get trained by the finest! We provide better prospects for your future 
                      with future planner, jackson academy, k-12 publishing.
                      Grow and transform yourself into the best with our help.
                      
                     </p>
                  </div>
                 
              
               </div>
              
            </div>

       
         </div>
      </div>
      <!--//about" -->
    <div class="container-fluid">
      <div class="row" style="margin-top:1%">
        
      <div  class="col-lg-12 info-sub-w4">
         <div  id="centered">     <strong><h2>Future Planner </h2></strong><p> It is hard to accomplish anything without any prior planning. Future planner in "ISH"provides the extra support for different leagues in our society like students, housewives etc. to
          secure a better future for themselves. It provides them with the opportunity to pay door-to-door
          services to the customer.</p>
        </div>
             
             <!-- <img   id="card" src="../../assets/images/edu/future-copplaner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br> -->
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>JAGSUN EDU</h2></strong><p>We help you manage your campus with one click!
              Jagsun Edu is a platform developed on the foundation of latest technologies with complete
              AI integration in the background.
              Jagsun Edu ERP has multiple features comprising of student performance analysis, faculty feedback,
              chat bots and 3D content for learning purpose.</p>
              
            </div>
           <!-- <img id="card" src="../../assets/images/edu/jagsun.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div id="centered">
               <strong style="margin-bottom: 15%"><h2>JAGSUN ACADEMY</h2></strong>
              <p> We are a training academy which empowers you to conquer the world with your refined skill.
We intend to impart and refine skill among unemployed, drop outs and weaker class  women
in India..</p></div>
           <!-- <img id="card" src="../../assets/images/edu/jagsun.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
       </div>
       
      
<div class="col-lg-12 info-sub-w4">

  <div id="centered">
     <strong><h2>DIGITAL TEACHING AID</h2></strong><p>
     Digital Teaching Aid is a huge database comprising of teaching material
     in relation to k-12 education. It contains images, content and other effective media
      for teaching and learning purpose. It is an assimilation of the material and content
     provided by approximately 1000 teachers, collected over a period of 19 years.  </p>
 <!-- <img id="card" src="../../assets/images/edu/•DIGITAL TEACHING AID.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
</div>
</div>
<div class="col-lg-12 info-sub-w4">

  <div id="centered">
     <strong><h2>K-12 PUBLISHING</h2></strong><p>
     K-12 publishing is well-known in the field of customization
and high quality printing of books related to k12 education.
It cover all the levels of schooling i.e. from kindergarten to high school.
K-12 publishing prints all type of books i.e. from workbooks to textbooks.
It also prints these books in the name of school and deliver orders at their doorstep.</p>
</div>
 <!-- <img id="card" src="../../assets/images/edu/k-12.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
</div>
          </div>
          </div>
          <br><br>
 <app-fotter></app-fotter>
 </div> 
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  