<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Register with Us</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div class="slider">
            <div class="callbacks_container">
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img eduban">
                        <div class="container">
                     </div>
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <div style="text-align:center">
                  <h2>
                  <strong>   <br>Edu Basket<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify">We cater finest trainings from overseas professional trainers.
                      Get trained by the finest! We provide better prospects for your future 
                      with future planner, jackson academy, k-12 publishing.
                      Grow and transform yourself into the best with our help.
                      
                     </p>
                  </div>
                 
              
               </div>
              
            </div>
            <br><br><br>
       
         </div>
      </div>
      <!--//about" -->
    
      <div class="row" style="margin-top:4%">
        
      <div  class="col-lg-4 ">
         <div  id="centered">     <strong><h2>Future Planner </h2></strong><br> It is hard to accomplish anything without any prior planning. Future planner in "ISH"provides the extra support for different leagues in our society like students, housewives etc. to
          secure a better future for themselves. It provides them with the opportunity to pay door-to-door
          services to the customer.</div>
             
             <img   id="card" src="../../assets/images/edu/future-copplaner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br>
           </div>
          
          <div class="col-lg-4">
             <div id="centered">     <strong><h2>JAGSUN EDU</h2></strong><br><p>We help you manage your campus with one click!
              Jagsun Edu is a platform developed on the foundation of latest technologies with complete
              AI integration in the background.
              Jagsun Edu ERP has multiple features comprising of student performance analysis, faculty feedback,
              chat bots and 3D content for learning purpose.
              
            </div>
           <img id="card" src="../../assets/images/edu/jagsun.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
          </div>
          <div class="col-lg-4">

            <a id="centered">
               <strong style="margin-bottom: 15%"><h2>JAGSUN ACADEMY</h2></strong><br>
               We are a training academy which empowers you to conquer the world with your refined skill.
We intend to impart and refine skill among unemployed, drop outs and weaker class  women
in India..</a>
           <img id="card" src="../../assets/images/edu/jagsun.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
       </div>
       
      
<div class="col-lg-4">

  <a id="centered">
     <strong><h2>DIGITAL TEACHING AID</h2></strong><br>
     Digital Teaching Aid is a huge database comprising of teaching material
     in relation to k-12 education. It contains images, content and other effective media
      for teaching and learning purpose. It is an assimilation of the material and content
     provided by approximately 1000 teachers, collected over a period of 19 years.  </a>
 <img id="card" src="../../assets/images/edu/•DIGITAL TEACHING AID.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
</div>
<div class="col-lg-4">

  <a id="centered">
     <strong><h2>K-12 PUBLISHING</h2></strong><br>
     K-12 publishing is well-known in the field of customization
and high quality printing of books related to k12 education.
It cover all the levels of schooling i.e. from kindergarten to high school.
K-12 publishing prints all type of books i.e. from workbooks to textbooks.
It also prints these books in the name of school and deliver orders at their doorstep.
</a>
 <img id="card" src="../../assets/images/edu/k-12.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
</div>
          </div>
          
          <br><br>
      
      <!--//team -->
      <br><br><br><br>
      <!-- //Footer -->
      <div id = "foot"class="footer">
         <div class="container">
            <div class="row footer-agile-grids">
          
               <div class="col-lg-6  wthree-left-right">
                  <h4>Our Address</h4>
                  <div class="addres-up">
                     <ul>
                        <li>
                           <span class="fa fa-map-marker icons-left" aria-hidden="true"></span>
                           <p>333 Broome St New York</p>
                        </li>
                        <li>
                           <span class="fa fa-phone icons-left" aria-hidden="true"></span>
                           <p>+11 256 5486</p>
                        </li>
                        <li>
                           <span class="fa fa-envelope"></span>
                           <p><a href="support@indiansmarthub.in">support@indiansmarthub.in</a></p>
                        </li>
                        <li>
                           <span class="fa fa-fax" aria-hidden="true"></span>
                           <p>(000)1122333</p>
                        </li>
                        <li>
                           <span class="fa fa-windows" aria-hidden="true"></span>
                           <p>http//ndiansmarthub.net</p>
                        </li>
                     </ul>
                  </div>
                  <div class="icons">
                     <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-6 wthree-left-right">
                  <h4>Our Location</h4>
                  <div class="contact-map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <p>© All Rights Reserved | Design by <a href="www.google.com`" target="_blank">Digital Boxitin</a></p>
      </footer>
      <!-- //Footer -->
      <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLiveLabel">Make a Booking</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="register-form">
                     <form action="#" method="post">
                        <div class="fields-grid">
                           <div class="styled-input">
                              <input type="text" placeholder="Your Name" name="Your Name" required="">
                           </div>
                           <div class="styled-input">
                              <input type="email" placeholder="Your Email" name="Your Email" required="">
                           </div>
                           <div class="styled-input">
                              <input type="text" placeholder="Phone Number" name="Phone Number" required="">
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Number of People</option>
                                 <option value="">1</option>
                                 <option value="">2</option>
                                 <option value="">3</option>
                                 <option value="">More</option>
                              </select>
                           </div>
                           <div class="styled-input agile-styled-input-top">
                              <select class="category2" required="">
                                 <option value="">Select your Package</option>
                                 <option value="">Package 1</option>
                                 <option value="">Package 2</option>
                                 <option value="">Package 3</option>
                                 <option value="">Package 4</option>
                              </select>
                              <span></span>
                           </div>
                           <div class="styled-input">
                              <div class="agileits_w3layouts_grid">
                                 <select class="category2" name="category1" required="">
                                    <option value="">Select Time</option>
                                    <option value="">Hours: 8am - 10am</option>
                                    <option value="">Hours: 10am - 12pm</option>
                                    <option value="">Hours: 12pm - 4pm</option>
                                    <option value="">Hours: 4pm - 7pm</option>
                                    <option value="">Hours: 7pm - 9pm</option>
                                 </select>
                              </div>
                           </div>
                           <div class="styled-input w3l-comment">
                              <textarea name="more" placeholder="Something More" required=""></textarea>
                           </div>
                           <input type="submit" value="Submit">
                        </div>
                     </form>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--js working-->
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  