.mobileban{
    background: url(/assets/mobileview/Edu\ Basket.jpg)no-repeat center  center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: auto;
    min-height: auto;   
}