<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Branding</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Leccy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
           window.scrollTo(0, 1);
         }
      </script>
      <!--booststrap css-->
      <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- font-awesome icons -->
      <link href="../../assets/css/font-awesome.css" rel="stylesheet">
      <!-- For Clients slider -->
      <link rel="stylesheet" href="../../assets/css/flexslider.css" type="text/css" media="all" />
      <!-- //For clients slider -->
      <link href="../../assets/css/lsb.css" rel="stylesheet" type="text/css">
      <!--gallery lsb lightbox-->
      <!--stylesheets-->
      <link href="../../assets/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
     <div style="padding-right:0px!important;padding-left:0px!important;" class="container-fluid">
     <div class="header-outs" id="home">
         <div class="header-bar">
            <app-navbar></app-navbar>
           
         </div>
         <!-- //Navigation -->
         <!-- Slideshow 4 -->
         <div *ngIf='!this.Mobile' class="slider">
        
          <div class="callbacks_container">
                  
                   <ul class="rslides" id="slider4">
                      <li>
                         <div class="slider-img creative">
                          
                    
                         </div>
                      </li>
                     
                   </ul>
                </div>
                    
           
      
           
         </div>
         <div *ngIf='this.Mobile' class="slider">
            <div class="callbacks_container">
              
               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img mobileban" >
                      
                
                     </div>
                  </li>
                 
               </ul>
            </div>
           
         </div>
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!--about -->
      <div class="about" id="about">
         <div class="container-fluid">
            <div class="row abt-colm offset">
               <!-- <div class="col-lg-5 agile-info-img">
                  <img src="../../assets/images/banner/3.jpg" width=100% height="100%" alt="">
               </div> -->
               <div style="text-align:center">
                  <h2  style="font-size:300%;">
                  <strong>   <br>Digital Marketing<br></strong>
                  </h2>
                  <div  class="info-sub-w4">
                     <p style="text-align:justify;font-size:200%;padding-left: 3%;padding-right: 3%">The use of the Internet and other digital media and technology to support ‘modern marketing’ has been called digital marketing. We ensure to achieve marketing objectives through applying digital technologies and media covering all the 5 D’s in marketing that includes Digital devices, Digital platforms, Digital mediaDigital data and Digital technologies </p>
                  </div>
                 
              
               </div>
              
            </div>
   
       
         </div>
      </div>
      <!--//about" -->
    <div class="container-fluid">
      <div class="row" style="margin-top:1%">
        
      <div  class="col-lg-12 info-sub-w4">
            <div  id="centered">     <strong><h2>Content writing</h2></strong><p>Professional  writers who produce engaging content for use online. The Internet-savvy individuals who create articles, blog posts, and other forms of written Web material for simple or  complex projects are called content writers. We focus on content containing keywords / guest posting strategies and content placement strategies aimed towards improving a website's SEO.</p></div>
<!--                 
             <img   id="card" src="../../assets/images/digital/content-writing.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
             <br><br><br> -->
           </div>
          
          <div class="col-lg-12 info-sub-w4">
             <div id="centered">     <strong><h2>Article writing</h2></strong><p>Article writing is the process of creating a non-fiction text about current or recent news, items of general interest or specific topics. We focus on precise content and writing in a way of making a true to life message about present or late new


                 </div>
           <!-- <img id="card" src="../../assets/images/digital/unnamed (2).jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
          </div>
          <div class="col-lg-12 info-sub-w4">

            <div id="centered">
               <strong><h2> Standy Design</h2></strong>
              <p> A standee is a large self-standing display promoting a movie, product or event. They are typically made of foam-board, and may range from large self-standing posters to elaborate three-dimensional display devices with moving parts and lights.</p>
            </div>
           <!-- <img id="card" src="../../assets/images/digital/Online campaign management.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
       </div>
       <div class="col-lg-12 info-sub-w4">
         <div id="centered"><strong><h2>Social media page creation
          </h2></strong>
         <p> Showcase your company's branding, products and community. Design a social media page, make sure that your design is consistent with the company's branding, demonstrates the services that the company provides, and serves as a strong call to action if the design is for a promotion/social media campaign. </p>
         

        </div>
      </div>
      <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>Social media page maintenance</h2></strong><p>Social Media Maintenance is not just about using Facebook, LinkedIn and Twitter to grow your business and brand awareness, but using it effectively. We provide social media maintenance for those clients' that can't fit daily maintenance into their schedules</p>
      <!-- <img id="card" src="../../assets/images/creative/Envelop Design.jpeg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
  </div>
</div>
  <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>Invoice Design</h2></strong><p> You'll want to send a Graphic Design Invoice anytime you complete work for a client and you want to get paid. Your invoice typically lists all the work you completed, any products you sold, and, most importantly, the price you're charging.
      </p>
      </div>
      <!-- <img id="card" src="../../assets/images/creative/Invoice Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br> -->
    </div>  
  <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>Search engine optimization</h2></strong><p>Get the most unique and beautiful design for your Vouchers while getting our subscription from us

        We have a  team is dedicated for you!
      </p>
      </div>
      <!-- <img id="card" src="../../assets/images/digital/C.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br> -->
    </div> 
    <div class="col-lg-12 info-sub-w4">
      <div id="centered"><strong><h2>  Social media marketing</h2></strong><p>Social media marketing (SMM) is a form of Internet marketing that utilizes social networking websites as a marketing tool. The goal of SMM is to produce content that users will share with their social network to help a company increase brand exposure and broaden customer reach.
      <!-- <img id="card" src="../../assets/images/digital/Social-Media-Marketing-banner.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
  <br><br><br> --></p>
      </div>
    </div>
          
  <div class="col-lg-12 info-sub-w4">
    <div id="centered"><strong><h2>Social media optimization</h2></strong><p>Social media optimization (SMO) is the process of increasing the awareness of a product, brand or event by using a number of social media outlets and communities to generate viral publicity.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/digital/smo.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->
</div>
        
  <div class="col-lg-12 info-sub-w4">
    <div id="centered"><strong><h2> Online campaign creation</h2></strong><p>A social media campaign is a coordinated marketing effort to reinforce or assist with a business goal using one or more social media platforms.Campaigns differ from everyday social media efforts because of their increased focus, targeting and measurability.
    </p>
  </div>
    </div>
    <!-- <img id="card" src="../../assets/images/digital/Online campaign creation.jpg" width="400px" height="600px" alt=" " class="img-responsive" /> -->

 
<div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2>Online campaign management</h2></strong><p>A social media campaign is a coordinated marketing effort to reinforce or assist with a business goal using one or more social media platforms. Campaignsdiffer from everyday social media efforts because of their increased focus, targeting and measurability.
    </p>
    <!-- <img id="card" src="../../assets/images/digital/Online campaign management.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
   -->
  </div>
</div>  
 <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2>Online reputation management

      </h2></strong><p>Social media reputation management is the process of tracking, monitoring and ultimately eliminating negativesocial media material about your brand to improve your name or standing. If done properly, social media reputation management builds your credibility to customers, which strengthens their trust in your brand.
      </p>
      </div>
    <!-- <img id="card" src="../../assets/images/digital/Online-Reputation-Management_53.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->
  </div>   
 <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2> Email marketing</h2></strong><p>Email marketing is an efficient way to communicate and stay connected to your clients or customers while also promoting your business. It's a distribution channel for content. Common email campaigns consist of product or service announcements, a company newsletter, lead nurturing and sales promotions.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/digital/email-marketing-bana.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->
  </div>   

   <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2>Brochure Design</h2></strong><p>Brochures are promotional documents, primarily used to introduce a company, organization, products or services and inform prospective customers or members of the public of the benefits.

      So get the best Brochure Design from Indian Smart Hub and make your company and product colorful and beautiful.
    </div>
    <!-- <img id="card" src="../../assets/images/creative/Brochure Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->
  </div>   
  <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2>Sms marketing</h2></strong><p>SMS marketing is a marketing channel, much like email marketing, that allows businesses to message customers with marketing messages through SMS, or more commonly known, text messaging. ... SMS marketing is the perfect modern way to communicate with your customers.
    </p>

    </div>
    <!-- <img id="card" src="../../assets/images/digital/sms.jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
    <br><br>  -->
  </div>  
  <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2>Blog creation & maintains</h2></strong><p>A weblog, also called a blog, is a journal that is maintained by a blogger and contains information that is instantly published to their blog website. Blogging is a very popular activity. The number of online users creating and maintaining blogshas increased dramatically over the past year.
    </p>
    <!-- <img id="card" src="../../assets/images/creative/Banner Design.jpg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->
    </div>
  </div>   
    
  <div class="col-lg-12 info-sub-w4 ">
    <div id="centered"><strong><h2> Social media paid campaigns</h2></strong><p>Paid Social Media Advertising Campaigns. You may not think of social media marketing as a paidsearch campaign, but in order to maximize your visibility on social media platforms, paid social media is a must these days.
    </p>
    </div>
    <!-- <img id="card" src="../../assets/images/creative/news (1).jpeg" width="400px" height="600px" alt=" " class="img-responsive" />
<br><br> -->
  </div>  
         </div> 
</div>
<app-fotter></app-fotter>
</div>
      <script src='../../assets/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- carousal service slider-->
      <script src="../../assets/js/slick.js"></script>
      <script>
         $(document).on('ready', function() {
           $(".center").slick({
           dots: true,
           infinite: true,
           centerMode: true,
           slidesToShow: 2,
           slidesToScroll: 2,
           responsive: [
             {
               breakpoint: 768,
               settings: {
               arrows: true,
               centerMode: false,
               slidesToShow: 2
               }
             },
             {
               breakpoint: 480,
               settings: {
               arrows: true,
               centerMode: false,
               centerPadding: '40px',
               slidesToShow: 1
               }
             }
            ]
           });
         });
      </script>
      <!-- //carousal -->
      <!--responsiveslides banner-->
      <script src="../../assets/js/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager:true,
             nav: false,
             speed: 900,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!--// responsiveslides banner-->	  
      <!--About OnScroll-Number-Increase-JavaScript -->
      <script src="../../assets/js/jquery.waypoints.min.js"></script>
      <script src="../../assets/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>
      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- clients FlexSlider-JavaScript -->
      <script defer src="../../assets/js/jquery.flexslider.js"></script>
      <script>
         $(window).load(function(){
         $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider){
             $('body').removeClass('loading');
           }
         });
         });
      </script>
      <!-- //clients FlexSlider-JavaScript -->
      <!-- gallery-lightbox -->  
      <script src="../../assets/js/lsb.min.js"></script>
      <script>
         $(window).load(function() {
             $.fn.lightspeedBox();
           });
      </script> 
      <!-- //gallery-lightbox -->
      <!-- start-smoth-scrolling -->
      <script src="../../assets/js/move-top.js"></script>
      <script src="../../assets/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
             event.preventDefault();
             $('html,body').animate({
               scrollTop: $(this.hash).offset().top
             }, 900);
           });
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
           var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
           };
         
         
           $().UItoTop({
             easingType: 'easeOutQuart'
           });
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!--bootstrap working-->
      <script src="../../assets/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>  x